*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-family: sans-serif;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
}

h1 {
  margin: 0;
  font-weight: normal;
}

h2 {
  margin: 0;
  font-weight: normal;
}

h3 {
  margin: 0;
  font-weight: normal;
}

h4 {
  margin: 0;
  font-weight: normal;
}

h5 {
  margin: 0;
  font-weight: normal;
}

h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/**
* Correct the size of svg images
*/
svg {
  height: inherit;
  width: inherit;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("../../assets/fonts/Montserrat/MontserratRegular.eot?") format("eot"), url("../../assets/fonts/Montserrat/MontserratRegular.woff") format("woff"), url("../../assets/fonts/Montserrat/MontserratRegular.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratMedium";
  src: url("../../assets/fonts/Montserrat/MontserratMedium.eot?") format("eot"), url("../../assets/fonts/Montserrat/MontserratMedium.woff") format("woff"), url("../../assets/fonts/Montserrat/MontserratMedium.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratBold";
  src: url("../../assets/fonts/Montserrat/MontserratBold.eot?") format("eot"), url("../../assets/fonts/Montserrat/MontserratBold.woff") format("woff"), url("../../assets/fonts/Montserrat/MontserratBold.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url("../../assets/fonts/Montserrat/MontserratSemiBold.eot?") format("eot"), url("../../assets/fonts/Montserrat/MontserratSemiBold.woff") format("woff"), url("../../assets/fonts/Montserrat/MontserratSemiBold.ttf") format("truetype");
}
.header {
  box-sizing: border-box;
  display: flex;
  padding: 50px 70px;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.link {
  font-family: "MontserratSemiBold", sans-serif;
}
.link a {
  color: #335141;
  text-decoration: none;
}

.link_size_md {
  font-size: 30px;
}

.link_theme_white a {
  color: #fff;
  font-size: 23px;
}

.link_size_sm a {
  font-size: 23px;
}

.link_size_theme-position {
  text-decoration: underline;
  padding-top: 50px;
}

.link_size_theme-dark a {
  text-decoration: underline;
}

.headline_theme_banner {
  font-size: 130px;
  color: #335141;
  font-family: "MontserratBold", sans-serif;
}

.headline_theme_light {
  font-size: 75px;
  color: #e5dccf;
  font-family: "MontserratSemiBold", sans-serif;
}

.headline_theme_default {
  font-size: 48px;
  color: #335141;
  font-family: "MontserratBold", sans-serif;
}

.headline_theme-dark {
  font-size: 23px;
  color: #335141;
  font-family: "MontserratSemiBold", sans-serif;
}

.page-builder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-builder__text-banner {
  display: flex;
  justify-content: center;
  padding-top: calc(50vh - 130px - 65px);
}

.page-builder__main-decribe {
  width: 80%;
  padding-top: 100px;
}

.page-builder__arrow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  margin-top: -25px;
  margin-bottom: 250px;
}
.page-builder__arrow img {
  height: 160px;
}

.page-builder__headline-section {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.page-builder__headline-paragraph {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin-top: 90px;
}

.page-builder__headline-item {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin-top: 190px;
  margin-bottom: 15px;
}

.page-builder__work-structure {
  width: 100%;
  margin-top: 150px;
  position: relative;
}

.page-builder__activity-organization {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 150px;
}

.page-builder__staff {
  width: 90%;
  margin-left: 10%;
  margin-top: 150px;
  margin-bottom: 150px;
}

.page-builder__customer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
  margin-top: 150px;
  padding-left: 210px;
  padding-right: 100px;
}

.page-builder__footer {
  width: 100%;
}

.page-builder__about-us {
  width: 80%;
  margin-top: 135px;
  margin-bottom: 135px;
}

.page-builder__relations {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
}

.page-builder__lable {
  width: 80%;
  margin-bottom: 165px;
}

.page-builder__personnel {
  width: 90%;
  margin-left: 10%;
  margin-top: 90px;
  margin-bottom: 90px;
}

.page-builder__statement {
  width: 80%;
}

.page-builder__signature {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 110px;
}
.page-builder__signature img {
  height: 160px;
  padding-bottom: 50px;
}
.page-builder__signature p {
  font-family: "MontserratMedium", sans-serif;
  color: #828876;
  font-size: 23px;
  padding-left: 120px;
}

.page-builder__invite {
  width: 90%;
  margin-left: 10%;
  margin-top: 220px;
  margin-bottom: 220px;
}

.page-builder__contacts {
  width: 100%;
  background: #f3ece2;
  padding-left: 210px;
  padding-right: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.page-builder__contacts-map {
  width: 100%;
  padding-left: 210px;
  padding-right: 80px;
  margin-top: 200px;
  margin-bottom: 120px;
}

.page-builder__vacancy {
  width: 90%;
  margin-left: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.page-builder__contacts {
  width: 800px;
}

.main-decribe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-decribe__item {
  width: 29%;
  font-family: "MontserratRegular", sans-serif;
  font-size: 23px;
  color: #335141;
  line-height: 2;
}

.main-decribe__item_center {
  text-align: center;
  width: 34%;
}

.main-decribe__item_right {
  text-align: right;
}

.work-structure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.work-structure__background {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(./assets/imges/VectorSmart.png) no-repeat center center;
  background-size: cover;
}

.work-structure__enumeration {
  color: #e5dccf;
  font-size: 400px;
  font-family: "MontserratBold", sans-serif;
  text-shadow: 30px 60px 15px rgba(0, 0, 0, 0.1);
  width: 15%;
}

.work-structure__text {
  width: 40%;
}
.work-structure__text h1 {
  font-size: 29px;
  font-family: "MontserratSemiBold", sans-serif;
  text-align: left;
  line-height: 3;
}
.work-structure__text p {
  box-sizing: border-box;
  font-size: 18px;
  text-align: left;
  font-family: "MontserratRegular", sans-serif;
  line-height: 2;
}

.work-structure_directions-opening {
  background: #f6dbcb;
  color: #363636;
}

.work-structure_directions-next {
  background: #787d6c;
  color: #e5dccf;
}

.work-structure_directions-following {
  background: #9f745f;
  color: #e5dccf;
}

.activity-organization__design_left {
  display: flex;
  background: url(../images/photo_glasses.jpg) no-repeat center center;
  height: 30vw;
  width: 44vw;
  background-size: cover;
}
.activity-organization__design_left p {
  flex: 1;
  color: #335141;
  font-size: 110px;
  font-family: "MontserratSemiBold", sans-serif;
  padding-left: 50px;
  padding-top: 50px;
}

.activity-organization__design_right {
  display: flex;
  background: url(../images/photo_library.jpg) no-repeat center center;
  background-size: cover;
  height: 30vw;
  width: 44vw;
  align-items: flex-end;
  justify-content: flex-end;
}
.activity-organization__design_right p {
  flex: 1;
  color: #ede4dc;
  font-size: 110px;
  font-family: "MontserratSemiBold", sans-serif;
  text-align: center;
  padding-bottom: 30px;
}

.activity-organization__marketing {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 30vw;
  width: 44vw;
  padding: 40px 260px 70px 100px;
}
.activity-organization__marketing h1 {
  font-size: 30px;
  color: #335141;
  text-align: left;
  font-family: "MontserratSemiBold", sans-serif;
  line-height: 3;
}
.activity-organization__marketing p {
  box-sizing: border-box;
  font-size: 23px;
  color: #828876;
  text-align: left;
  font-family: "MontserratRegular", sans-serif;
  line-height: 1.7;
  padding-bottom: 20px;
}

.activity-organization__marketing_left {
  background: linear-gradient(to bottom, #f4eee7, #f4f0ea);
  background-size: cover;
}

.activity-organization__marketing_right {
  background: linear-gradient(to bottom, #f2ede5, #f3eee7);
  background-size: cover;
}

.staff {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.staff__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 29.5vw;
  width: 29.5vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.staff__item {
  box-sizing: border-box;
  color: #ffffff;
  font-size: 30px;
  line-height: 1.5;
  font-family: "MontserratSemiBold", sans-serif;
  padding-left: 13px;
  padding-bottom: 10px;
  border: 18px solid;
  border-color: #000;
  background-color: #000;
  opacity: 0.4;
  width: 29.5vw;
}

.staff__item p:last-child {
  color: #ffffff;
  font-size: 23px;
  font-family: "MontserratRegular", sans-serif;
}

.staff__line {
  width: 100%;
  position: absolute;
  opacity: 0;
  left: 0;
  top: auto;
  bottom: 0;
  height: 15px;
  background: #d26a35;
}

.staff__info:hover .staff__line {
  opacity: 1;
}

.customer__logo {
  width: 15%;
}

.footer {
  background: #5b5744;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  display: flex;
  padding-bottom: 70px;
  padding-top: 80px;
}

.footer__text {
  display: flex;
  width: 80%;
}
.footer__text p {
  font-size: 23px;
  font-family: "MontserratRegular", sans-serif;
  line-height: 2;
  color: #e5dccf;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 70px;
  word-wrap: break-word;
}

.about-us {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about_us__text {
  text-align: left;
  width: 20%;
}
.about_us__text h1 {
  font-size: 16px;
  color: #335141;
  font-family: "MontserratSemiBold", sans-serif;
  line-height: 3;
}
.about_us__text p {
  box-sizing: border-box;
  font-size: 16px;
  color: #828876;
  font-family: "MontserratRegular", sans-serif;
  line-height: 2;
  padding-bottom: 20px;
}

.about_us__video {
  width: 70%;
}
.about_us__video iframe {
  width: 55vw;
  height: 21vw;
  padding-top: 23px;
}

.relations {
  text-align: center;
  text-decoration: underline;
}

.lable__firm {
  width: 100%;
  height: 730px;
}

.personnel {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.personnel__item {
  height: 20vw;
  width: 25%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.personnel__cover {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  font-size: 13px;
  font-family: "MontserratSemiBold", sans-serif;
  line-height: 2;
  padding-left: 30px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
}

.personnel_cover:hover {
  opacity: 1;
  transition: 0.3s;
}

.personnel_cover p:last-child {
  color: #ffffff;
  font-family: "MontserratRegular", sans-serif;
}

.personnel_text {
  color: #fffef9;
  font-size: 44px;
  font-family: "MontserratSemiBold", sans-serif;
  line-height: 1.5;
  text-decoration: underline;
  padding-top: 30px;
  padding-left: 25px;
  box-sizing: border-box;
}

.statement {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statement__item {
  width: 48%;
  color: #828876;
  font-size: 23px;
  font-family: "MontserratMedium", sans-serif;
}
.statement__item h1 {
  font-size: 23px;
  line-height: 4;
}
.statement__item p {
  line-height: 2;
}

.statement__item_theme-alignment {
  padding-top: 100px;
}

.invite {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.invite__text {
  text-align: left;
  width: 50%;
}
.invite__text h1 {
  font-size: 23px;
  color: #335141;
  font-family: "MontserratSemiBold", sans-serif;
  padding-bottom: 40px;
  line-height: 2;
}
.invite__text p {
  box-sizing: border-box;
  font-size: 23px;
  color: #828876;
  font-family: "MontserratMedium", sans-serif;
  line-height: 2;
}

.invite__arrow {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 110px;
  width: 100%;
  height: 890px;
}

.invite__image {
  height: 160px;
}

.page-builder-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-builder-contacts__item_theme-location {
  padding-top: 45px;
}

.contacts {
  display: flex;
  align-items: stretch;
}

.contcts__image {
  width: 90px;
  display: flex;
  align-items: center;
}
.contcts__image img {
  width: 100%;
}

.contacts__info {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3.8;
}

.contacts__info_theme-location {
  padding-bottom: 35px;
}

.contacts__map {
  width: 860px;
  height: 860px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__cover {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.contacts__item {
  display: flex;
  flex-direction: column;
}

.vacancy {
  height: 990px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vacancy__cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
<<<<<<< HEAD
=======
  opacity: 0;
  font-family: "MontserratSemiBold", sans-serif;
>>>>>>> ea7401d46abb8bd8fe6ee108bd2e17a8d034e53a
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 90px;
}

.vacancy__item {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.vacancy__text {
  font-family: "MontserratSemiBold", sans-serif;
}
.vacancy__text h1 {
  color: #fac2bd;
  font-size: 30px;
  line-height: 1;
<<<<<<< HEAD
  text-decoration: underline;
=======
>>>>>>> ea7401d46abb8bd8fe6ee108bd2e17a8d034e53a
}
.vacancy__text p {
  color: #9b968f;
  font-size: 30px;
<<<<<<< HEAD
  line-height: 2;
=======
  line-height: 1;
>>>>>>> ea7401d46abb8bd8fe6ee108bd2e17a8d034e53a
}

.vacancy__block {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.vacancy__info h1 {
  font-family: "MontserratSemiBold", sans-serif;
  color: #fac2bd;
  font-size: 30px;
  line-height: 3;
}
.vacancy__info p {
  font-family: "MontserratRegular", sans-serif;
  color: #fac2bd;
  font-size: 23px;
  line-height: 2;
}

.vacancy__list {
  padding-top: 30px;
}
.vacancy__list p {
  font-family: "MontserratRegular", sans-serif;
  color: #fff;
  font-size: 23px;
  line-height: 2;
}

.contacts {
  display: flex;
  align-items: stretch;
}

.contcts__image {
  width: 90px;
  display: flex;
  align-items: center;
}
.contcts__image img {
  width: 100%;
}

.contacts__info {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3.8;
}

.page-builder-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*# sourceMappingURL=styles.css.map */
