header {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 300px;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	width: 55%;
	align-items: center;
}

.header__subscription {
	background: transparent;
	color: #fff;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid #7783ee;
	padding: 18px 15px;
}