 body {
 	background: #fff;
 }

.wait {
	color: #363636;
	font-size: 25px;
	font-family: "Gotham Medium";
}

.cong {
	color: #363636;
	font-size:11px;
}

.get {
	color: #363636;
	font-size: 20px;
}

.get span {
	color: #d91c1e;
	font-size:20px;
}

.only {
	background: #fff200;
	color:#000;
	font-size:11px;
	width: 300px;
}

.congratulations {
	color:#959595; 
	font-size:11px;
}

.dont {
	color: #363636;
	font-size:11px;
}

.button_claim {
	background: #d91c1e;
	color: #fff;
	font-size:19px;
	width: 300px;
	padding: 20px;
	border-radius: 10px;
}

.no_thancks {
	color: #a6a6a6;
	font-size:11px;
}

.strip {
	background: #acacac;
	height: 3px;
	width: 800px;
}

.icon {
	color: #363636;
	font-size:10px;
}
