 body {
	background:#f2f2f2;
}

.delivering {
	background: #fff;
	color: #000;
	font-size: 17px;
}

.since {
	background: #fff;
	color: #58595b;
	font-size: 19px;
}

.find {
	background: #fff;
	color:#000 ;
	font-size:20px;
}

.advertise {
	background: #fff;
    color:#000 ;
	font-size:20px;
	font-weight: bold;

}
.spectal {
	background:#f2f2f2; 
	color:#231f20;
	font-size:18px;
}

.button_free {
	background: #fff;
	color: #888888;
	font-size:18px;
	padding: 20px;
	border: 2px solid #878787;
	border-radius: 10px;
}

.button_subscribe {
	background: #f09f51;
	color: #fff;
	font-size:18px;
	padding: 20px;
	border-radius: 10px;
}

.daily {
	background: #3877bb;
	color:#fff;
	font-size:36px;
}

.wework {
	background:#3877bb;
	color:#fff;
	font-size:17px;
}

.minago {
	background:#3877bb;
	color: #79ace3;
	font-size:16px ;
}

.latest {
	background: #fff;
	color: #231f20;
	font-size: 30px ;
	border-bottom: 2px solid #f09f51;
}

.lorem {
	background:#fff;
	color:#000;
	font-size:18px;
}

.bycecilia {
	background: #fff;
	color: #000;
	font-size: 18px;
}

.bycecilia span {
	color: #f19d4e;
	font-size: 20px;
}

.apple {
	background: #fff;
	color: #000;
	font-size: 15px;
}

.follow {
	color: #f09f51; 
	font-size: 32px;
}

.button_search {
	color: #888888;
	font-size:18px;
	padding: 20px;
	border: 2px solid #a4a4a4;
	border-radius: 10px;
}

.how {
	background: #fff;
	color:#000;
	font-size:24px;
}





