.activity-organization {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #2E2E2E;
	padding-top: 80px;
	padding-bottom: 90px;
	h2 {
		width: 60%;
		color: #eaeaea;
		font-size: 40px;
		font-weight: 300;
		text-align: center;
		line-height: 1.7;
		padding-bottom: 40px;
	}
	span {
		font-weight: 600;
	}
	h4 {
		width: 72%;
		color: #f9f9f9;
		font-size: 22px;
		text-align: center;
		line-height: 1.7;
	}
}

.activity-organization__item {
	width: 62%;
	background: #eaeaea;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	padding-bottom: 15px;
	h3 {
		color:#666666;
		font-size: 20px;
		padding-top: 15px;
	}
}

.activity-organization__text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 93%;
	padding-top: 50px;
	h1 {
		font-size: 23px;
		color: #58585a;
		font-weight: 600;
	}
}