.description {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
	padding-top: 120px;
	padding-bottom: 100px;
	h1 {
		color: #58585a;
	    font-size: 40px;
	    font-weight: 400;
	    text-align: center;
	}
}

.description__content {
	width: 80%;
	display: flex;
	justify-content: space-between;
	padding: 50px 0 40px;
}

.description__item {
	width: 23%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	img {
		width: 200px;
	}
	h2 {
		color: #43a92d;
		font-size: 30px;
		line-height: 2;
		padding-top: 20px;
	}
	p {
		color: #666666;
		font-size: 20px;
		line-height: 1.7;
	}
}

.description__structure {
  width: 85%;
  padding-bottom: 35px;
  background: #2E2E2E;
  h1 {
    padding-top: 18px;
    font-size: 35px;
    text-align: center;
    color: #b6b6b6;
  }
}
.description__cover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.description__block {
  padding: 0 0 60px 20px;
  display: flex;
  flex-direction: column;
  width: 33%;
  p {
    color: #b6b6b6;
    position: relative;
    padding: 60px 0 0 40px;
    height: 30px;
    font-size: 25px;
  	&::before {
      content: '';
      position: absolute;
      top: 62px;
      left: 0;
      width: 25px;
      height: 27px;
      background: url('../images/check.png') no-repeat;
      background-size: contain;
    }
  }
}