.field {
	background: #f9f9f9;
	box-shadow: 0px 0px 73px 0px #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.field__item {
	border-bottom: 5px solid #43a92d;
	padding-top: 30px;
	h1 {
		color: #58585a;
		font-weight: 600;
		font-size: 40px;
	}
}

.field__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 90%;
	padding-top: 50px;
	padding-bottom: 20px;
	h1 {
		font-size: 25px;
		color: #58585a;
		font-weight: 600;
		padding-bottom: 8px;
	}
	a {
		font-size: 20px;
		color: #58585a;
		font-weight: 600;
		text-decoration: none;
	}
	p {
		font-size: 20px;
		color: #58585a;
		line-height: 1.7;
	}
}

.field__content_theme_default {
	border: 1px solid #b6b6b6;
    height: 90px;
    width: 100%;
    color: #666666;
    background: #fff;
    padding: 20px;
    font-size: 25px;
    &:focus {
    border-bottom: 3px solid blue;
    outline: none;
	}
	&:focus::-webkit-input-placeholder {
	   color: #c0bebe;
	}
}

.field__content_size_sm {
	border: 1px solid #b6b6b6;
    height: 90px;
    width: 65%;
    color: #666666;
    background: #fff;
    padding: 20px;
    font-size: 25px;
}

.field__button {
	display: flex;
    justify-content: center;
    align-items: center;
	background: #43a92d;
	width: 100%;
	height: 90px;
	border-radius: 8px;
	margin: 10px 0;
	p {
        font-size: 25px;
        color: #fff;
        font-weight: 600;
        padding-left: 15px;
    }
    img {
    	width: 30px;
    }
    &:hover {
        background-color: #167302;
    	opacity: 0.8;
  	}
}

.field__button_size_sm {
	width: 30%;
}

.field__cover {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 93%;
}