header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 160px 23px;
  @include respond-to('mob') {
		padding: 0;
		background: red;
	}
}

.header__logo {
	width: 330px;
	@include respond-to('mob') {
		width: 500px;
	}
}

.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 44%;
	padding-top: 10px;
	@include respond-to('mob') {
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
}

.header__menu_size_sm {
	width: 38%;
}

.header__menu_theme_mob {
	@include respond-to('mob') {
		box-sizing: border-box;
		flex-direction: column;
		justify-content: flex-start;
		z-index: 1000;
		position: fixed;
		background: #f3ece2;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 101vw;
		padding-top: 20px;
		padding-left: 35px;
		line-height: 2.5;
		transition: 0.2s;
	}
}

.header__menu-active {
	left: 0;
	transition: 0.2s;
}

.header__button {
	@include respond-to('mob') {
		position: absolute;
		display: block;
		left: auto;
		right: 0;
		top: 0;
		border: none;
		background: transparent;
		padding-top: 20px;
		padding-right: 30px;
		font-size: 45px;
		color: #335141;
		outline: none;
	}
}