.intro {
	display: flex;
	flex-direction: column;
}

.intro__item {
	text-align: center;
	h1 {
		font-size: 65px;
		font-weight: 600;
		color: #fff;	
	}
	p {
		font-size: 40px;
		color: #eaeaea;
		padding-bottom: 30px;
		padding-top: 20px;
	}
}

.intro__content {
	display: flex;
	justify-content: space-between;
}

.intro__text {
	display: flex;
	align-items: center;
	img {
		width: 28px;
	}
	p {
		font-size: 18px;
		color: #fff;
		font-weight: 700;
		padding-left: 6px;
	}
}