.link {
	a {
		color: #58585a;
		text-decoration: none;
	}
 }

 .link_size_md {
 	a {
 		font-size: 18px;
 	}
 }

.link__button {
  color: 58585a;
  text-decoration: none;
}

.link__button_size_md {
  font-size: 18px;
  padding: 5px 10px;
  &:hover {
    border-radius: 20px;
    background-clip: padding-box;
    text-decoration: underline;
    background: #f3f3f3;

  }
}

.link__button_active {
  border-radius: 20px;
  background-clip: padding-box;
  background: #f3f3f3;
}

.link_theme_dark {
	a {
 		font-size: 24px;
 		color: #666666;
 		font-weight: 600;
 	}
}