.page-builder {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.page-builder__intro {
	margin-top: 150px;
	width: 60%;
	@include respond-to('mob') {
		width: 90%;
	}
}

.page-builder__field {
	width: 45%;
	margin-top: 80px;
	margin-bottom: 200px;
}
