.report {
	background: #273238;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 120px;
	h1 {
		color: #eaeaea;
		font-size: 40px;
		font-weight: 400;
		padding-bottom: 30px;
	}
	p {
		color: #bababa;
		font-size: 30px;
		padding-bottom: 90px;
	}
	img {
		width: 72%;
	}
}

.report__video {
  background-image: url('../images/play-button.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.85);
  background-size: 52%;
  position: absolute;
  margin: 470px auto;
  width: 150px;
  height: 110px;
  border: none;
  border-radius: 6px;
}