.status-bar {
	background: #fff;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 80px;
	text-align: center;
	padding-bottom: 80px;
	h1 {
		color: #58585a;
	    font-size: 40px;
	    font-weight: 400;
	}
	p {
		color: #666666;
		font-size: 30px;
		width: 73%;
		line-height: 1.5;
	}
}

.status-bar__item {
	display: flex;
	justify-content: space-between;
	width: 35%;
	padding-top: 20px;
	padding-bottom: 40px;
}

.status-bar__intro {
	border: 1px solid #cdcdcd;
    border-bottom: 3px solid #b6b6b6;
    padding: 25px;
    font-weight: 600;
    text-align: center;
    font-size: 35px;
    color: #444444;
} 