.footer {
	background: #EBEBEB;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

.footer__content {
	width: 85%;
	display: flex;
	justify-content: space-between;
	padding-top: 75px;
	padding-bottom: 30px;
}

.footer__item {
	width: 16%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	h1 {
		color: #2e2e2e;
		font-size: 25px;
		font-weight: 600;
		padding-bottom: 5px;
		padding-top: 20px;
	}
	a {
		text-decoration: none;
    	color: #666666;
    	font-size: 20px;
    	text-align: left;
    	line-height: 2;
    	font-weight: 700;
	}
	p {
		color: #666666;
    	font-size: 20px;
    	text-align: right;
    	line-height: 1.8;
    	padding-bottom: 20px;
	}
}

.footer__cover {
	display: flex;
	justify-content: center;
	margin-top: 25px;
	padding: 15px 120px 5px 280px;
	background: #f1f1f1;
	font-size: 18px;
	color: #a7a7a7;	
	line-height: 1.7;
}