/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* ------------------------- */ @charset "utf-8"; /* ------------------------------ */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* ----------------------- HemorrhoSTOP_v2 - styles.css --------------------------- */
/* --------------- please use soft tabs - 4 spaces identation. -------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
@font-face {
    font-family: 'ProximaNovaExCnBold';
    src: url('ProximaNovaExCn-Bold.otf');
}
.proximaExBold {
    font-family: 'ProximaNovaExCnXbold';
}
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
.cf:before,.cf:after, .clearfix:before,.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}
.clear, .cf, .clearfix {
    clear: both;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* ---------------------------------------- */
/*/-------------- POPUP -------------------/*/
/* ---------------------------------------- */
#popWindow{
    position:fixed;
    right: 10px;
    bottom: 10px;
    max-width: 220px;
    padding: 16px;
    background:#EFECDC;
    font-size: 14px;
    border:1px solid #CCC;
    border-radius:20px;
    box-shadow:1px 1px 5px #999;
    opacity:0;
    z-index: 999999;
}

#popWindow b{
    font-weight:bold;
    font-size: 16px;
}

#popWindow i{
    font-size: 16px;
    font-weight:bold;
    color:red;
}

#popWindow span {
    font-size: 16px;
    font-weight:bold;
    color:#0C6;
}
/* ---------------------------------------- */
/*/-------------- END POPUP ---------------/*/
/* ---------------------------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #010101;
    letter-spacing: -0.015em;
    line-height: 1.2;
    position: relative;
}
.shell {
    width: 1000px;
    margin: 0 auto 0 auto;
    padding: 0 20px 0 20px;
    position: relative;
    min-height: 10px;
}
.proximaBlack {
    font-family: 'ProximaNovaExCnBlack';
}
.proximaReg {
    font-family: 'ProximaNovaExCnReg';
}
.proximaBold {
    font-family: 'ProximaNovaExCnBold';
}
section{
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
}
.sec1{
    background: url('s1.jpg') no-repeat center center;
    height: 826px;
}
.logup {
    color: black;
    font-weight: bold;
    font-family: 'ProximaNovaExCnBold';
}
.logdw {
    color: #F98D32 !important;
    color: #E15927 !important;
    text-transform: uppercase;
}
.sec1head {
    margin: 0;
    padding: 0;
    margin-left: 100px;
    top: 20px;
    width: 77%;
    text-align: center;
    position: absolute;
    font-size: 58px;
    color: #CED6D6;
    color: #D2E0E2;
    margin-left: 280px;
    font-size: 48px;
}
.sec1headlg {
    font-size: 44px;
}
.uppc {
    text-transform: uppercase;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.spis1 {
    position: absolute;
    color: #fff;
    top: 145px;
    left: 490px;
    width: 500px;
}
.spis1 li {
    background: transparent url('spis1.png') no-repeat scroll left top;
    padding: 4px 0 4px 38px;
    margin-bottom: 2px;
}
.fs28 {
    font-size: 28px;
}

.fs48 {
    font-size: 48px;
}
.c-mork {
    color: #e9520c;
    font-weight: bold;
}
.shell > .price {
    position: absolute;
    text-align: center;
    width: 300px;
    top: 697px;
    left: 25px;
}
.mt0 {
    margin-top: 0;
}
.c-ser {
    color: #000;
}
.text1 {
    position: absolute;
    text-align: center;
    width: 400px;
    top: 574px;
    left: -24px;
}
.c-gol {
    color: #cce9ec;
}
.fs30 {
    font-size: 30px;
}
.fs50 {
    font-size: 50px;
}
.fs52 {
    font-size: 52px;
}
.fs45 {
    font-size: 45px;
}
.fs42 {
    font-size: 42px;
}
.fs40 {
    font-size: 40px;
}
.fs39 {
    font-size: 39px;
}
.fs36 {
    font-size: 36px;
}
.up {
    text-transform: uppercase;
}
.lh08 {
    line-height: 0.8;
}
.c-bel {
    color: #fff;
}
.bold {
    font-weight: bold;
}
.c-gol2 {
    color: #a5e9f0;
}
.form {
    width: 370px;
    width: 374px;
    border-radius: 4px;
    padding: 24px 12px 12px 12px;
}
.form1 {
    position: absolute;
    top: 526px;
    right: 246px;
    width: 358px;
}
.form input[type="text"], .form select {
    background: #fff none repeat scroll top left;
    width: 100%;
    border: medium none -moz-initial;
    height: 53px;
    border-radius: 4px;
    margin-bottom: 9px;
    padding: 0 3em 0 2em;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.45);
    position: relative;
}
.button {
    width: 100%;
    height: 60px;
    border: medium none -moz-initial;
    border-radius: 5px;
    border-top: 10px solid #fdb44c;
    background: #fb963a none repeat scroll top left;
    background: transparent -moz-linear-gradient(top, #fb963a 0%, #e84c01 100%) repeat scroll top left;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb963a', endColorstr='#e84c01',GradientType=0 );
    border-bottom: 1px solid #b0dde1;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 2px;
    outline: medium none -moz-initial;
    font-family: 'ProximaNovaExCnBold';
}
.button:hover {
    background: #f9a459 none repeat scroll top left;
    background: transparent -moz-linear-gradient(top, #f9a459 0%, #e56022 100%) repeat scroll top left;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a459', endColorstr='#e56022',GradientType=0 );
}
.button:active {
    background: #f98825 none repeat scroll top left;
    background: transparent -moz-linear-gradient(top, #f98825 0%, #e84c01 100%) repeat scroll top left;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f98825', endColorstr='#e84c01',GradientType=0 );
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.3);
    border-top: medium none -moz-initial;
    padding-top: 5px;
}
.button2:active {
    padding-top: 8px;
}



.text2 {
    height: 475px;
}
.sec2 .belt {
    float: left;
    max-width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}



.c-ser2 {
    color: #000;
}
.mb05 {
    margin-bottom: 0.5em;
}
.lh17 {
    line-height: 1.6;
}
.spis2 {
    color: #fff;
    font-size: 24px;
}
.spis2 li {
    background: transparent url('spis2.png') no-repeat scroll left 5px;
    padding: 5px 0 5px 38px;
    margin-bottom: 10px;
}
.text-center {
    text-align: center;
}
.k3,.k3c {
    float: left;
    width: 279px;
    text-align: center;
    margin-top: 0.5em;
}
.k3c {
    width: 402px;
}
.clear {
    clear: both;
}
.fs24 {
    font-size: 24px;
}
.mt05 {
    margin-top: 0.5em;
}
.fs46 {
    font-size: 46px;
}
.img-left {
    float: left;
    margin: 0 2em 1em 0;
}
.img-right {
    float: right;
    margin: 0 0 1em 2em;
}
.otziv, .otzivRight {
    line-height: 1.7;
    width: 640px;
    background: transparent url('ugol.jpg') no-repeat scroll left bottom;
    margin-left: 290px;
    padding-top: 1px;
    padding-bottom: 23px;
}
.otziv p, .otzivRight p {
    margin-top: 1em;
}
.otziv span, .otzivRight span {
    font-weight: bold;
}
.otzivRight {
    margin-left: 0;
    margin-right: 290px;
    padding-left: 1em;
}
.name {
    color: #8c8b8b;
    margin-top: 5px;
    margin-bottom: 2em;
}
.name span {
    color: #319ba6;
    font-weight: bold;
}
.c-jelt {
    color: #ffe87c;
}
.mb0 {

    margin-top: 70px;
    margin-bottom: 0;
}
.fs16 {
    font-size: 16px;
}
.left {
    width: 50%;
    float: left;
}
.right {
    width: 50%;
    float: right;
}
.blok1 {
    padding-right: 1em;
    margin-bottom: 1.5em;
    display: table;
    margin-top: 1em;
}
.blok1Img {
    padding-right: 0.5em;
    display: table-cell;
}
.blok1Text {
    color: #fff;
    display: table-cell;
    vertical-align: top;
}
.blok1Text p {
    margin: 0 0 0 0;
}
.c-jelt2 {
    color: #edf5bc;
}
.text3 {
    margin-left: 228px;
}
.spis3 {
    font-size: 24px;
    margin-top: 157px;
    margin-left: 439px;
}
.spis3 li {
    background: transparent url('spis3.jpg') no-repeat scroll left 5px;
    padding: 6px 0 6px 38px;
    margin-bottom: 17px;
}
.fs23 {
    font-size: 23px;
}
.c-krasn {
    color: #e61e12;
}
.table {
    display: table;
    width: 100%;
}
.cell {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffe87c;
    text-transform: uppercase;
}
.cell p {
    margin: 0 0 22px 0;
}

.cell .g1_img {
    border-radius: 50%;
    border: 1px solid #000;
}
.otziv2 {
    line-height: 1.7;
    background: #fff none repeat scroll top left;
    padding: 0.8em 1em 0.8em 1em;
    border: 1px dotted #000;
}
.otziv2 span {
    font-weight: bold;
    font-size: 120%;
}
.podpis {
    padding-left: 2em;
    margin-top: 1.5em;
    margin-bottom: 2em;
}
.podpis span {
    color: #319ba6;
    font-weight: bold;
}
.price2 {
    position: absolute;
    text-align: center;
    left: 37px;
    width: 300px;
    bottom: 31px;
}
.priceholder {
    width: 1000px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -500px;
}
.text4 {
    position: absolute;
    left: -10px;
    bottom: 90px;
    width: 400px;
    text-align: center;
}
.text5 {
    position: absolute;
    left: 430px;
    bottom: 198px;
    text-transform: uppercase;
}
.timer {
    position: absolute;
    bottom: 42px;

    right: 0px;
}
.digitHolder {
    float: left;
    margin-right: 18px;
}
.digit {
    float: left;
    width: 83px;
    font-family: 'ProximaNovaExCnXbold';
    font-size: 98px;
    color: #454141;
    text-align: center;
    margin-right: 6px;
    height: 115px;
    line-height: 115px;
    position: relative;
}
.digit:last-of-type {
    margin-right: 0;
}
.price3 {
    position: absolute;
    width: 90px;
    top: 80px;
    left: 887px;
    text-align: center;
    transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
}
.c-kor {
    color: #4d3515;
}
.fs39 {
    font-size: 39px;
}
.form2 {
    position: absolute;
    top: 102px;
    left: 295px;
    background: transparent none repeat scroll top left;
    border: medium none -moz-initial;
}
.c-chern {
    color: #000;
}
.text6 {
    position: absolute;
    width: 600px;
    top: 24px;
    left: 192px;
    text-align: center;
}
.mb03 {
    margin-bottom: 0.3em;
}
.popupLeft, .popupRight {
    width: 300px;
}
.popupLeft {
    float: left;
}
.popupRight {
    float: right;
}
.c-kor2 {
    color: #9e956b;
}
.mt03 {
    margin-top: 0.3em;
}
.button3 {
    width: 342px;
    margin-top: 7px;
}
.line {
    width: 100%;
    height: 2px;
    background: #ebdd9d none repeat scroll top left;
    margin: 1em 0 1em 0;
}
.fs14 {
    font-size: 14px;
}
.pr1 {
    padding-right: 160px;
}
.krem {
    position: absolute;
    top: 408px;
    right: 38px;
}
.timerlg {
    position: absolute;
    top: 130px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.timerlg span {
    margin-left: 60px;
    margin-right: 70px;
}

.discount {
    margin: 10px auto 10px auto;
    display: block;
    width: 115px;
    height: 117px;
    background: transparent url('discount.png') repeat scroll top left;
    position: absolute;
    right: 113px;
    top: -82px;
}
.discount p {
    line-height: 18px;
    margin: 0 0 0 0;
    padding: 39px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    color: #2e221c;
    text-align: center;
}
.discount b {
    font-size: 20px;
}

.underline {
    text-decoration: underline;
}

.stamp5 {
    margin: 10px;
    margin-left: 60px;
    vertical-align: middle;
}
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
section {
    position: relative;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.sec2 {
    background: #F6F6F6 url('s2.jpg') no-repeat scroll center bottom;
    padding: 40px 0;
}

.sec3 {
    background: transparent url('pattern_yellow.jpg') repeat scroll center center;
    padding: 20px 0;
}
.sec4 {
    background: #f6f6f6 none repeat scroll top left;
    padding: 20px 0;
}
.sec5 {
    background: transparent url('pattern_green_3.jpg') repeat scroll center top;
}
.sec6 {
    background: #48b2bd none repeat scroll top left;
    padding: 20px 0;
}
.sec7 {
    background: transparent url('s7.jpg') no-repeat scroll center bottom;
    padding-bottom: 110px;
    padding-top: 20px;
}
.sec8 {
    background: transparent url('pattern_pink.jpg') repeat scroll left center;
    padding: 10px 0;
}
.sec9 {
    background: #1a1a1a none repeat scroll top left;
    padding-bottom: 2.5em;
}
.sec10 {
    background: transparent url('s10.jpg') no-repeat scroll center bottom;
    padding-bottom: 336px;
}
.digit:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background: rgba(204, 204, 204, 0.13) none repeat scroll top left;
    top: 55px;
    left: 0;
}
.sec11 {
    background: transparent url('s11.jpg') no-repeat scroll center center;
    padding-bottom: 423px;
}
.sec12 {
    background: transparent url('s12.jpg') no-repeat scroll center center;
    background-position: 50% 100%;
    padding: 0px 10px 19px 10px;
}
.press {
    position: absolute;
    top: 103px;
    left: 251px;
}
.button2 {
    position: absolute;
    top: 94px;
    width: 190px;
    text-align: center;
    height: 58px;
    left: 567px;
    line-height: 49px;
}
.strelka {
    width: 142px;
    height: 29px;
    background: transparent url('strelka.png') repeat scroll top left;
    position: absolute;
    top: 109px;
    left: 437px;
}
.kulek {
    position: absolute;
    bottom: 10px;
    right: 38px;
    z-index: -1;
}
.sec13 {
    background: transparent url('s13.jpg') no-repeat scroll center center;
    height: 838px;
}
.text7 {
    position: absolute;
    top: 290px;
    left: 164px;
    width: 320px;
}
.footer a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.btn_b2 {
    font-size: 38px;
}

.ns_img {
    border-radius: 50%;
}

.k3_img {
    border-radius: 50%;
}

.mb01 > .logup {
    color: #fff !important;
}
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------- HemorrhoSTOP_v2 - end of styles.css ----------------------- */
/* --------------- please use soft tabs - 4 spaces identation. -------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

@media screen and (max-width: 1000px) {
    .shell {
        width: 100%;
    }
    .spis1 {
        position: relative;
        display: block;
        float: left;
        margin-left: -10px;
    }
    .sec1head {
        font-size: 52px;
    }
    .sec1headlg {
        font-size: 40px;
    }
    .price3 {
        right: 20px;
    }
}

/* -------------------------------------- */
/* ---------- Desktop Phone ------------- */
/* -------------------------------------- */
.phone_box {
    border-radius: 5px;
    font: 18px Arial,Helvetica,sans-serif;
    height: auto;
    padding: 0 5px;
    position: fixed;
    top: 30px;
    right: 10px;
    z-index: 9;
    text-align: center;
    border-radius: 25px;
    background: #fff;
    color: #000;
    padding: 3px 4px;
    border: 1px solid #000;
    display: none;
}
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */




/* --------------------------------------------------------------- */
/* ------------------ Certificates desktop ----------------------- */
/* --------------------------------------------------------------- */
.stmp6 {
    position: absolute;
    top: 480px;
    left: 40px;
}
.certificates {
    padding: 20px;
}
.certificates h2 {
    font-family: Arial;
    color: #000;
    font-size: 39px;
    font-weight: 400;
    text-align: center;
    margin: 0px;
}
.img-cert-a {
    display: inline-block;
    border-radius: 5px;
    padding: 14px 12px 10px 12px;
    margin: 10px 10px 10px 10px;
    background: rgba(168,168,168,0.5);
}
.images-cert {
    width: 600px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 0 !important;
}
#cert-zoom-1 {
    position: relative;
    color: black;
    width: 66px;
    margin-right: 80px;
    text-decoration: none;
}
#cert-zoom-2 {
    color: black;
    position: relative;
    width: 66px;
    margin-left: 80px;
    text-decoration: none;
}
.img-zoom {
    width: 20px;
    vertical-align: bottom;
}
.certf2step img{
    margin: 10px auto;
    text-align: center;
    vertical-align: middle;
}
/* --------------------------------------------------------------- */
/* ------------------ Certificates desktop ----------------------- */
/* --------------------------------------------------------------- */

