*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-family: sans-serif;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
}

h1 {
  margin: 0;
  font-weight: normal;
}

h2 {
  margin: 0;
  font-weight: normal;
}

h3 {
  margin: 0;
  font-weight: normal;
}

h4 {
  margin: 0;
  font-weight: normal;
}

h5 {
  margin: 0;
  font-weight: normal;
}

h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/**
* Correct the size of svg images
*/
svg {
  height: inherit;
  width: inherit;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("../../assets/fonts/Montserrat/MontserratRegular.eot?") format("eot"), url("../../assets/fonts/Montserrat/MontserratRegular.woff") format("woff"), url("../../assets/fonts/Montserrat/MontserratRegular.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratMedium";
  src: url("../../assets/fonts/Montserrat/MontserratMedium.eot?") format("eot"), url("../../assets/fonts/Montserrat/MontserratMedium.woff") format("woff"), url("../../assets/fonts/Montserrat/MontserratMedium.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratBold";
  src: url("../../assets/fonts/Montserrat/MontserratBold.eot?") format("eot"), url("../../assets/fonts/Montserrat/MontserratBold.woff") format("woff"), url("../../assets/fonts/Montserrat/MontserratBold.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url("../../assets/fonts/Montserrat/MontserratSemiBold.eot?") format("eot"), url("../../assets/fonts/Montserrat/MontserratSemiBold.woff") format("woff"), url("../../assets/fonts/Montserrat/MontserratSemiBold.ttf") format("truetype");
}
.main-wrapper {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 160px 23px;
}
@media (max-width: 768px) {
  header {
    padding: 0;
    background: red;
  }
}

.header__logo {
  width: 330px;
}
@media (max-width: 768px) {
  .header__logo {
    width: 500px;
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 44%;
  padding-top: 10px;
}
@media (max-width: 768px) {
  .header__menu {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.header__menu_size_sm {
  width: 38%;
}

@media (max-width: 768px) {
  .header__menu_theme_mob {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1000;
    position: fixed;
    background: #f3ece2;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 101vw;
    padding-top: 20px;
    padding-left: 35px;
    line-height: 2.5;
    transition: 0.2s;
  }
}

.header__menu-active {
  left: 0;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .header__button {
    position: absolute;
    display: block;
    left: auto;
    right: 0;
    top: 0;
    border: none;
    background: transparent;
    padding-top: 20px;
    padding-right: 30px;
    font-size: 45px;
    color: #335141;
    outline: none;
  }
}

.link a {
  color: #58585a;
  text-decoration: none;
}

.link_size_md a {
  font-size: 18px;
}

.link__button {
  color: 58585a;
  text-decoration: none;
}

.link__button_size_md {
  font-size: 18px;
  padding: 5px 10px;
}
.link__button_size_md:hover {
  border-radius: 20px;
  background-clip: padding-box;
  text-decoration: underline;
  background: #f3f3f3;
}

.link__button_active {
  border-radius: 20px;
  background-clip: padding-box;
  background: #f3f3f3;
}

.link_theme_dark a {
  font-size: 24px;
  color: #666666;
  font-weight: 600;
}

.page-builder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-builder__intro {
  margin-top: 150px;
  width: 60%;
}
@media (max-width: 768px) {
  .page-builder__intro {
    width: 90%;
  }
}

.page-builder__field {
  width: 45%;
  margin-top: 80px;
  margin-bottom: 200px;
}

.intro {
  display: flex;
  flex-direction: column;
}

.intro__item {
  text-align: center;
}
.intro__item h1 {
  font-size: 65px;
  font-weight: 600;
  color: #fff;
}
.intro__item p {
  font-size: 40px;
  color: #eaeaea;
  padding-bottom: 30px;
  padding-top: 20px;
}

.intro__content {
  display: flex;
  justify-content: space-between;
}

.intro__text {
  display: flex;
  align-items: center;
}
.intro__text img {
  width: 28px;
}
.intro__text p {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  padding-left: 6px;
}

.field {
  background: #f9f9f9;
  box-shadow: 0px 0px 73px 0px #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field__item {
  border-bottom: 5px solid #43a92d;
  padding-top: 30px;
}
.field__item h1 {
  color: #58585a;
  font-weight: 600;
  font-size: 40px;
}

.field__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  padding-top: 50px;
  padding-bottom: 20px;
}
.field__content h1 {
  font-size: 25px;
  color: #58585a;
  font-weight: 600;
  padding-bottom: 8px;
}
.field__content a {
  font-size: 20px;
  color: #58585a;
  font-weight: 600;
  text-decoration: none;
}
.field__content p {
  font-size: 20px;
  color: #58585a;
  line-height: 1.7;
}

.field__content_theme_default {
  border: 1px solid #b6b6b6;
  height: 90px;
  width: 100%;
  color: #666666;
  background: #fff;
  padding: 20px;
  font-size: 25px;
}
.field__content_theme_default:focus {
  border-bottom: 3px solid blue;
  outline: none;
}
.field__content_theme_default:focus::-webkit-input-placeholder {
  color: #c0bebe;
}

.field__content_size_sm {
  border: 1px solid #b6b6b6;
  height: 90px;
  width: 65%;
  color: #666666;
  background: #fff;
  padding: 20px;
  font-size: 25px;
}

.field__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #43a92d;
  width: 100%;
  height: 90px;
  border-radius: 8px;
  margin: 10px 0;
}
.field__button p {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  padding-left: 15px;
}
.field__button img {
  width: 30px;
}
.field__button:hover {
  background-color: #167302;
  opacity: 0.8;
}

.field__button_size_sm {
  width: 30%;
}

.field__cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
}

.status-bar {
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 80px;
}
.status-bar h1 {
  color: #58585a;
  font-size: 40px;
  font-weight: 400;
}
.status-bar p {
  color: #666666;
  font-size: 30px;
  width: 73%;
  line-height: 1.5;
}

.status-bar__item {
  display: flex;
  justify-content: space-between;
  width: 35%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.status-bar__intro {
  border: 1px solid #cdcdcd;
  border-bottom: 3px solid #b6b6b6;
  padding: 25px;
  font-weight: 600;
  text-align: center;
  font-size: 35px;
  color: #444444;
}

.report {
  background: #273238;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}
.report h1 {
  color: #eaeaea;
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 30px;
}
.report p {
  color: #bababa;
  font-size: 30px;
  padding-bottom: 90px;
}
.report img {
  width: 72%;
}

.report__video {
  background-image: url("../images/play-button.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.85);
  background-size: 52%;
  position: absolute;
  margin: 470px auto;
  width: 150px;
  height: 110px;
  border: none;
  border-radius: 6px;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding-top: 120px;
  padding-bottom: 100px;
}
.description h1 {
  color: #58585a;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.description__content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 40px;
}

.description__item {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.description__item img {
  width: 200px;
}
.description__item h2 {
  color: #43a92d;
  font-size: 30px;
  line-height: 2;
  padding-top: 20px;
}
.description__item p {
  color: #666666;
  font-size: 20px;
  line-height: 1.7;
}

.description__structure {
  width: 85%;
  padding-bottom: 35px;
  background: #2E2E2E;
}
.description__structure h1 {
  padding-top: 18px;
  font-size: 35px;
  text-align: center;
  color: #b6b6b6;
}

.description__cover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.description__block {
  padding: 0 0 60px 20px;
  display: flex;
  flex-direction: column;
  width: 33%;
}
.description__block p {
  color: #b6b6b6;
  position: relative;
  padding: 60px 0 0 40px;
  height: 30px;
  font-size: 25px;
}
.description__block p::before {
  content: "";
  position: absolute;
  top: 62px;
  left: 0;
  width: 25px;
  height: 27px;
  background: url("../images/check.png") no-repeat;
  background-size: contain;
}

.activity-organization {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2E2E2E;
  padding-top: 80px;
  padding-bottom: 90px;
}
.activity-organization h2 {
  width: 60%;
  color: #eaeaea;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  line-height: 1.7;
  padding-bottom: 40px;
}
.activity-organization span {
  font-weight: 600;
}
.activity-organization h4 {
  width: 72%;
  color: #f9f9f9;
  font-size: 22px;
  text-align: center;
  line-height: 1.7;
}

.activity-organization__item {
  width: 62%;
  background: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 15px;
}
.activity-organization__item h3 {
  color: #666666;
  font-size: 20px;
  padding-top: 15px;
}

.activity-organization__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 93%;
  padding-top: 50px;
}
.activity-organization__text h1 {
  font-size: 23px;
  color: #58585a;
  font-weight: 600;
}

.footer {
  background: #EBEBEB;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.footer__content {
  width: 85%;
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 30px;
}

.footer__item {
  width: 16%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__item h1 {
  color: #2e2e2e;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 5px;
  padding-top: 20px;
}
.footer__item a {
  text-decoration: none;
  color: #666666;
  font-size: 20px;
  text-align: left;
  line-height: 2;
  font-weight: 700;
}
.footer__item p {
  color: #666666;
  font-size: 20px;
  text-align: right;
  line-height: 1.8;
  padding-bottom: 20px;
}

.footer__cover {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding: 15px 120px 5px 280px;
  background: #f1f1f1;
  font-size: 18px;
  color: #a7a7a7;
  line-height: 1.7;
}

/*# sourceMappingURL=styles.css.map */
