@media (max-width: 768px) {

.applied {
	font-size: 7px;
	margin-bottom: 5px;
}

.applied span {
	font-size: 9px;
	margin-bottom: 5px;
}

.btn_claim {
	font-size: 23px;
	width: 100%;
	margin-top: 30px;
}

.center_info {
	align-items: center;
}

.content {
	width: 95%;
}

.cost {
	font-size: 9px;
	margin-bottom: 5px;
}

.field {
	margin-bottom: 5px;
}

.form_design {
	width: 95%;
}

.free {
	font-size: 9px;
	margin-bottom: 5px;
}

.headline {
	font-size: 22px;
	margin: 12px 0;
	margin-bottom: 20px;
}

.lable {
	margin-left: 25px;
}

.main {
	margin-bottom: 15px;
}

.number_line {
	width: 115px;
}

.price_line {
	width: 62%;
	height: 1px;
	background:  rgb(208,208,208);
}

.price_text {
	font-size: 9px;
	margin-bottom: 4px;
	padding-top: 1px;
}

.price_info {
	padding-top: 12px;
	padding-right: 25px;
}

.subtotal {
	font-size: 9px;
	margin-bottom: 5px;
	margin-top: 1px;
}

.text_sum {
	font-size: 9px;
	margin-bottom: 4px;
	margin-top: 1px;
	padding-top: 1px;
}

.time {
	font-size: 8px;
	width: 50%;
}

.the_end {
    font-size: 8px;
}

.text {
	font-size: 14px;
}