 body {
	background: #fff;
	margin: 0;
	padding: 0;
}

html, body, p, a, button {
    font-family: 'Karla', sans-serif;
}

.applied {
	margin: 0;
	color: rgb(0,174,239);
	margin-top: 3px;
	font-size: 12px;
	margin-bottom: 12px;
}

.applied span {
	font-weight: bold;
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
}

.btn_claim {
	background: rgb(181, 7, 0);
	border: 2.5pt solid white;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	width: 100%;
	padding: 10px 0;
	border-radius: 10px;
	margin-top: 13px;
	text-transform: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	margin: 0;
	margin-top: 50px;
}

.center {
	width: 100%;
}

.center_info {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}


.cod {
	width: 25%;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 0 0;
	width: 45%;
}

.cost {
	color: rgb(137,137,137);
	margin: 0;
	margin-top: 3px;
	margin-bottom: 12px;
	font-size: 14px;
}

.field {
	color: rgb(85, 85, 85);
    font-size: 10px;
    margin: 0;
}

.finish {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_design {
    width: 45%; 
}

.free {
	color: red;
	font-weight: bold;
	margin: 0;
	margin-top: 3px;
	margin-bottom: 12px;
	font-size: 14px;
}

.header {
	background: #000;
	height: 60px;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	position: fixed;
}

.headline {
	font-size: 36px;
	color: rgb(85, 85, 85);
	margin: 0;
	margin: 10px 0;
	text-align: center;
}

.lable {
	display: block;
	align-items: flex-start;
	margin-left: 30px;
}

.logo {
	height: 62px;
}

.main {
	width: 100%;
	display: flex;
	align-items: flex-start;
	margin: 0;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.number_line {
	width: 180px;
}

.price {
    box-sizing: border-box;
	width: 100%;
	margin-top: 20px;
}

.price_info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
    background: rgb(225,225,225);
    border-color: rgb(208,208,208);
    box-sizing: border-box;
	padding-top: 30px;
	padding-right: 75px;

}

.price_info_text {
	display: flex;
	align-items: flex-end;
	justify-content: right;
}

.price_info_text > div:last-child {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   text-align: right;
}

.price_line {
	width: 62%;
	height: 1px;
	background:  rgb(208,208,208);
}

.price_text {
	color: rgb(137,137,137);
	margin: 0;
	padding-top: 7px;
	padding-right: 50px;
	margin-bottom: 7px; 
	font-size: 14px;
}

.space {
	color: #000;
	font-size: 12px;
	border-radius: 6px;
    padding: 7px;
	border: 1px solid #999;
	text-align: left;
	box-sizing: border-box;
}

.space_pos-left {
	width: 53%; 
	margin-right: 3%;
}

.space_pos-right {
	width: 16%; 
}

.space_full {
	width: 100%;
	margin: 0;
	margin-top: 20px;
}

.subtotal {
	color: rgb(137,137,137);
	font-size: 14px;
	margin: 0;
	margin-top: 3px;
	margin-bottom: 12px;
	padding-right: 80px;
}

.text {
	color: rgb(0, 174, 239);
	font-size: 18px;
	text-align: left;
}

.text_sum {
	color: #000;
	margin: 0;
	margin: 7px 0;
	font-size: 14px;
}

.the_end {
	color: rgb(112,112,112);
	text-decoration: underline;
    text-align: center;
    font-size: 10px;
    margin: 0;
    margin-top: 10px;
}

.time {
	color: #000;
	font-size: 16px;
	background: rgb(251, 244, 214);
	border: black 1px solid;
	width: 58%;
	padding: 3px 0;
    text-align: center;
    border-radius: 6px;
    outline: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
    align-items: center;
	width: 100%;
	padding-bottom: 20px;
}
