@media (max-width: 768px) {

.content {
	width: 95%;
}

.btn_time {
	font-size: 8px;
	width: 50%;
}

.headline {
	font-size: 17px;
	margin: 8px 0;
	margin-bottom: 9px;
}

.headline_content {
	font-size: 8px;
}

.number_line {
	width: 110px;
}

.photo_clothes {
	width: 65%;
}

.form_design {
	width: 95%;
}

.icons {
	width: 18%;
}

.main_text_left p {
	font-size: 12px;
}

.main_text_right p {
	font-size: 11px;
}

.choose {
	font-size: 14px;
}
.normal {
	font-size: 14px;
}

.cost {
	font-size: 14px;
}

.applied {
	font-size: 14px;
}

.applied span {
    font-size: 14px;
}

.est {
	font-size: 14px;
}

.btn_continue {
	font-size: 23px;
	width: 100%;
}

.the_end {
    font-size: 8px;
}
