 body {
	background: #fff;
	margin: 0;
	padding: 0;
}

html, body, p, a, button {
    font-family: 'Karla', sans-serif;
}

.btn_continue {
	background: rgb(181, 7, 0);
	border: 2.5pt solid white;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	width: 560px;
	padding: 10px 0;
	border-radius: 10px;
	margin-top: 13px;
	text-transform: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 0 0;
	width: 45%;
}

.field {
	color: #000;
	font-size: 12px;
	border-radius: 6px;
    padding: 7px;
	border: 1px solid #999;
	text-align: left;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.field_pos-left {
	width: 45%; 
	margin-right: 3%;
}

.field_pos-right {
	width: 45%; 
}

.field_full {
	width: 93%;
}

.finish {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.finish_text {
	text-align: center;
	color: #000;
	font-size: 12px;
	margin: 0; 
	margin-top: 30px;
}

.form_design {
    width: 50%; 
}

.header {
	background: #000;
	height: 60px;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	position: fixed;
}

.headline {
	font-size: 36px;
	color: rgb(85, 85, 85);
	margin: 0;
	margin-top:  8px;
	text-align: center;
}

.headline_content {
    color: rgb(85,85,85);
    font-size: 12px;
    margin: 0;
    margin-top: 8px;

}

.logo {
	height: 62px;
}

.main {
	width: 100%;
}

.main_info {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}

.maintenance {
	font-size: 12px;
	color: rgb(0,174,239);
    margin: 0;
    margin-top: 40px;
    text-align: left;
    margin-left: 22px;
    font-weight: bold;
}

.number_line {
	width: 180px;
}

.the_end {
	color: rgb(112,112,112);
	text-decoration: underline;
    text-align: center;
    font-size: 10px;
    margin: 0;
    margin-top: 10px;
}

.time {
	color: #000;
	font-size: 16px;
	background: rgb(251, 244, 214);
	border: black 1px solid;
	width: 58%;
	padding: 3px 0;
    text-align: center;
    border-radius: 6px;
    outline: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
    align-items: center;
	width: 100%;
	padding-bottom: 20px;
}
