@media (max-width: 768px) {

.btn_continue {
	font-size: 23px;
	width: 100%;
}

.content {
	width: 95%;
}

.finish_text {
	margin-top: 20px;
}

.field {
	margin-bottom: 5px;
}

.form_design {
	width: 95%;
}

.maintenance {
    margin-left: 13px;
}

.headline {
	font-size: 22px;
	margin: 12px 0;
	margin-bottom: 9px;
}

.headline_content {
	font-size: 12px;
}

.number_line {
	width: 110px;
}

.time {
	font-size: 8px;
	width: 50%;
}

.the_end {
    font-size: 8px;
}
