body {
	background: #fff;
	margin: 0;
	padding: 0;
}

html, body, p, a, button {
    font-family: 'Karla', sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
   align-items: center;
	width: 100%;
	padding-bottom: 20px;
}
.header {
	background: #000;
	height: 60px;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	position: fixed;
}

.logo {
	height: 62px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 0 0;
	width: 45%;
}

.btn_time {
	color: #000;
	font-size: 16px;
	background: rgb(251, 244, 214);
	border: black 1px solid;
	width: 100%;
	padding: 3px 0;
    text-align: center;
    border-radius: 6px;
    outline: none;
}

.headline {
	font-size: 22px;
	color: rgb(85, 85, 85);
	margin: 0;
	margin: 14px 0;
}

.headline_content {
	font-size: 15px;
	color: rgb(85, 85, 85);
	margin: 0px;
	margin-bottom: 14px;
}

.number_line {
	width: 180px;
}

.photo_clothes {
	width: 430px;
}
.form_design {
    width: 45%; 
}

.main {
	box-sizing: border-box;
	padding: 0 20px;
	display: flex;
	align-items: flex-start;
	width: 100%;
	margin: 0;
}

.main_icons {
	flex: 1;
	text-align: center;
}

.icons {
	width: 30px;
}

.main_text_left {
	flex: 1;
}

.main_text_left p {
	color: rgb(0,174,239);
	font-size: 15px;
	margin-top: 30px;
	text-align: left;
	margin: 0;
	margin-bottom: 5px;
	margin-top: 30px;
}

.main_text_right {
	flex: 1;
}

.main_text_right p {
	color: rgb(149,149,149);
	font-size: 15px;
	text-decoration: underline;
	outline: 0;
	text-align: right;
	margin: 0;
	margin-bottom: 5px;
	margin-top: 30px;
}

.choose_option {
	box-sizing: border-box;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 7px;
}

.choose {
	color: #464a4c;
	margin-top: 10px;
	font-size: 18px;
	border-radius: 3px;
	border: 1px solid gray;
	width: 48%;
	padding: 6px 0;
}

.spreadsheet {
    border: 1px solid;
    border-radius: 10px;
    border-color: rgb(208,208,208);
    box-sizing: border-box;
	padding: 5px 20px;
}

.price_spreadsheet {
    box-sizing: border-box;
	padding: 0 20px;
}

.spreadsheet_text {
	display: flex;
	justify-content: space-between;
}

.spreadsheet_text > div:last-child {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.spreadsheet_line {
	width: 100%;
	height: 1px;
	background:  rgb(208,208,208);
}
.normal {
	color: #000;
	font-weight: bold;
	font-size: 18px;
	margin: 0;
	margin-top: 3px;
	margin-bottom: 12px;
}

.cost {
	color: #000;
	font-weight: bold;
	margin: 0;
	margin-top: 3px;
	margin-bottom: 12px;
	font-size: 18px;
}

.cost span {
	color: red;
}

.applied {
	margin: 0;
	color: rgb(0,174,239);
	margin-top: 3px;
}

.applied span {
	font-weight: bold;
    color: red;
    font-size: 18px;
}

.est {
	font-weight: bold;
	color: lightgray;
	margin: 0;
	margin: 7px 0;
	font-size: 18px;
}

.btn_continue {
	background: rgb(181, 7, 0);
	border: 2.5pt solid white;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	width: 100%;
	padding: 10px 0;
	border-radius: 10px;
	margin-top: 13px;
	text-transform: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.the_end {
	color: rgb(112,112,112);
	text-decoration: underline;
    text-align: center;
    font-size: 10px;
    margin: 0;
    margin-top: 10px;
}
