 body {
 	background: #fff;
 }

.any {
	color: #363636;
	font-size: 24px;
}

.this {
	color: #363636;
	font-size:10px;
}

.contry {
	color: #363636;
	font-size: 19px;
}

.contry span {
	color: #d91c1e;
	font-size:19px;
}

.free {
	background: #0054a6;
	color:#fff;
	font-size: 8px;
	width: 300px;
}

.order {
	color: #363636;
	font-size:10px;
}

.button_claim {
	background: #d91c1e;
	color: #fff;
	font-size:19px;
	width: 300px;
	padding: 20px;
	border-radius: 10px;
}

.no_thancks {
	color: #a6a6a6;
	font-size:11px;
}

.strip {
	background: #acacac;
	height: 3px;
	width: 800px;
}

.icon {
	color: #363636;
	font-size:10px;
}
