body {
	min-height: 500px;
	background: url(../img/liverpoolquizbg.jpg) no-repeat center fixed black;
	margin: 0;
	padding: 0;
	background-size: cover;
}

html, body, p, a, button {
    font-family: 'Karla', sans-serif;
}

p {
	color: #fff;
	margin: 0;
}

a {
	text-decoration: none;
	-webkit-appearance: none; 
	-moz-appearance: none;
}
.header {
	background: #000;
	height: 60px;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	position: fixed;
}

.menu {
	background: rgb(16, 16, 16);
	position: fixed;
	top: 60px;
	width: 250px;
	height: calc(100vh - 60px);
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu_top a {
    color: rgba(255, 255, 255, 0.50);
	font-size: 24px;
	padding: 8px 20px;
	display: block;
	border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.menu_icons {
	display: flex;
	justify-content: center;
}

.menu_bottom_icon {
	margin: 0 10px;
	width: 40px;
}

.menu_bottom_text {
	text-align: center;
	font-size: 5px;
	line-height: 1.6em;
    color: rgb(111, 111, 111);
    padding: 10px 35px 20px;
}

.menu_top_text {
	background: rgb(181, 7, 0);
	font-size: 18px;
	padding: 4px 20px;

}
.headline {
	font-size: 24px;
    font-weight: bold;
}

.logo {
	height: 35px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 95px 0 0;
}

.index_content {
	width: 300px;
	margin: 20px 0;
}

.text_content {
	font-size: 20px;
	margin: 10px 0 30px;
}

.btn_start_quiz {
	background: rgb(181, 7, 0);
	border: 2.5pt solid white;
	color: #fff;
	font-size: 30px;
	width: 540px;
	padding: 20px 0;
	border-radius: 10px;
}

.btn_start_quiz:hover {
	background: green;
	transform: scale(1.1);
}