 body {
 	background: #fff;
 }

.choose {
	background: #53ffff;
	color: #252525;
	font-size:9px;
	width: 300px;
	padding: 20px;
}

.just {
	background: #e6e7e8;
	color: #a6a6a6;
	font-size:9px;
	width: 300px;
	padding: 20px;
}

.click {
	color: #959595;
	font-size: 9px;
}

.select {
	color: #363636;
	font-size: 11px;
}

.select span {
	color: #ff0000;
	font-size: 11px;
}

.applied {
	color: #00bff3;
	font-size:9px;
}

.applied span {
	color: #ff0000;
	font-size: 11px; 
}

.est {
	color: #959595;
	font-size:11px;
}

.button_continue {
	background: #d91c1e;
	color: #fff;
	font-size:19px;
	width: 300px;
	padding: 20px;
	border-radius: 10px;
}

.strip {
	background: #acacac;
	height: 3px;
	width: 800px;
}

.icon {
	color: #363636;
	font-size:10px;
}
