.answer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.answer-block__header {
    font-family: 'MontserratSemiBold', sans-serif;
    font-size: 1.61vw;
    color: #242424;
    margin-top: 2.12vw;
    @include respond-to('mob') {
        font-size: 8vw;
        margin-top: 5.8vw;
    }
}

.answer-block__result-texts {
    display: flex;
    flex-direction: column;
    margin-top: 1.84vw;
    @include respond-to('mob') {
        margin-top: 3.98vw;
    }
}

.answer-block__result {
    font-size: 1.16vw;
    font-family: 'MontserratRegular', sans-serif;
    color: #959595;
    text-align: center;
    &:not(:first-of-type) {
        margin-top: 0.66vw;
    }
    @include respond-to('mob') {
        font-size: 4.42vw;
        &:not(:first-of-type) {
            margin-top: 1.64vw;
        }
    }
}

.answer-block__result-image {
    margin-top: 1.4vw;
    width: 22.68vw;
    height: 15.66vw;
    background-size: cover;
    @include respond-to('mob') {
        margin-top: 4.94vw;
        width: 78vw;
        height: 53.12vw;
    }
}

.answer-block__offer {
    font-family: 'MontserratMedium', sans-serif;
    font-size: 1.61vw;
    color: #000;
    margin-top: 2.12vw;
    text-align: center;
    @include respond-to('mob') {
        margin-top: 2.68vw;
        font-size: 7.16vw;
    }
}

.answer-block__offer-description {
    margin-top: 1.25vw;
    font-family: 'MontserratRegular', sans-serif;
    font-size: 1.16vw;
    color: #898989;
    width: 27vw;
    text-align: center;
    @include respond-to('mob') {
        font-size: 4.42vw;
        margin-top: 3.24vw;
        width: 70vw;
    }
}

.answer-block__offer-price {
    margin-top: 1.25vw;
    font-family: 'MontserratSemiBold', sans-serif;
    font-size: 1.02vw;
    color: #2e4da7;
    @include respond-to('mob') {
        font-size: 3.12vw;
        margin-top: 3.24vw;
    }
}

.answer-block__button {
    margin: 1.54vw 0 3vw;
    font-size: 1.16vw;
    width: 23.86vw;
    height: 4.4vw;
    @include respond-to('mob') {
        margin: 7vw 0 8.8vw;
        font-size: 5.2vw;
        width: 84.36vw;
        height: 16.92vw;
    }
}