.button {
    cursor: pointer;
    outline: none;
    border: 0;
}

.button_theme_header {
    color: #fff;
    background: #000;
    border-radius: 2px;
    font-family: 'MontserratRegular', sans-serif;
    &:hover {
        background: #959595;
    }
}

.button_theme_main {
    background: #ea413d;
    box-shadow: -3px 3px 14.4px 1.6px rgba(54, 54, 54, 0.16);
    font-family: 'MontserratSemiBold', sans-serif;
    color: #fff;
    border-radius: 6px;
    &:hover {
        background: #ea697a;
    }
}

.button_theme_dark {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    box-shadow: -3px 3px 14.4px 1.6px rgba(54, 54, 54, 0.16);
    font-family: 'MontserratSemiBold', sans-serif;
    color: #fff;
    border-radius: 6px;
    p {
        font-size: 1.3vw;
    }
    img {
        margin-right: 0.7vw;
    }
    @include respond-to('mob') {
        width: 84.36vw;
        height: 16.92vw;
        p {
            font-size: 5.2vw;
        }
        img {
           margin-right: 2vw;
        }
    }
}