.choose-prize__headline {
    font-family: 'MontserratRegular', sans-serif;
    font-size: 1.2vw;
    color: #959595;
    text-align: center;
    margin-bottom: 1.4vw;
    @include respond-to('mob') {
        font-size: 4vw;
        margin-bottom: 4vw;
    }
}

.choose-prize__image {
    background: url('../images/cash.jpg') center center;
    background-size: cover;
    width: 100%;
    height: 15.5vw;
    @include respond-to('mob') {
        width: 84.36vw;
        height: 55vw;
    }
}

.choose-prize__helper {
	color: #00bff3;
	font-family: 'MontserratRegular', sans-serif;
	font-size: 0.8vw;
	text-align: left;
	margin-top: 1.2vw;
	margin-bottom: 0.4vw;
    @include respond-to('mob') {
        font-size: 2.3vw;
        margin-top: 3.5vw;
        margin-bottom: 1.5vw;
    }
}

.choose-prize__select {
	color: #363636;
	font-family: 'MontserratRegular', sans-serif;
	font-size: 1vw;
	width: 23.86vw;
	padding: 0.5vw 0;
	border-radius: 0.2vw;
    @include respond-to('mob') {
        font-size: 3vw;
        width: 84.36vw;
        padding: 1.3vw 0;
        border-radius: 0.8vw;
    }
}

.choose-prize__description {
	width: 23.86vw;
	height: 4.5vw;
	border-radius: 0.2vw;
	border: 1px solid #ccc;
	margin-top: 0.4vw;
	padding-top: 0.4vw;
	padding-left: 0.4vw;
    @include respond-to('mob') {
        width: 84.36vw;
        height: 12vw;
        border-radius: 0.8vw;
        margin-top: 1.5vw;
        padding-top: 2vw;
        padding-left: 1vw;
    }
    ul {
       list-style-type: disc;
    }
	li {
    	color: #363636;
    	font-family: 'MontserratMedium', sans-serif;
    	font-size: 0.7vw;
    	line-height: 1.7;
    	list-style-position: inside;
    }
    p {
        font-size: 0.8vw;
        color: #2e4da7;
        text-align: center;
        padding: 0.5vw 0;
        font-family: 'MontserratMedium', sans-serif;
    }
    @include respond-to('mob') {
        li {
            font-size: 2.5vw;
        } 
    }
}

.choose-prize__description_theme-fond {
    background: #ebebeb;
    border: 1px solid #ebebeb;
    height: 5.8vw;
    margin-top: 1.2vw;
    margin-bottom: 1.5vw;
    width: 100%;
    @include respond-to('mob') {
        width: 84.36vw;
        height: 21vw;
        border-radius: 0.8vw;
        margin-top: 1.5vw;
        margin-bottom: 5vw;
        padding-top: 2vw;
        padding-left: 0.4vw;
        ul {
            padding-left: 2vw;
        }
        p {
            font-size: 2.7vw;
            padding: 1vw 0;
        }
    }
}

.choose-prize__button {
	margin-top: 1.5vw;
    font-size: 1.16vw;
    width: 100%;
    height: 4.4vw;
    @include respond-to('mob') {
        font-size: 5.2vw;
        width: 84.36vw;
        height: 16.92vw;
        margin-top: 4vw;
    }
}