.field {
    outline: 0;
    border: 0;
    flex: 1;
}

.field_theme_default {
    font-weight: 700;
    color: #111;
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 2px;
}

.field_size_sm {
    flex: 0 auto;
    width: 25%;
    margin-right: 25%;
}