.header {
    display: flex;
    width: 100%;
    height: 3.66vw;
    padding: 0 11.7vw;
    background: #8DA5E5;
    font-family: 'MontserratBold', sans-serif;
    font-size: 1.74vw;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    @include respond-to('mob') {
        padding: 0;
        height: 13.58vw;
        font-size: 5.48vw;
        justify-content: center;
    }
}

.header__button {
    height: 2.2vw;
    width: 4.38vw;
    font-size: 0.88vw;
    @include respond-to('mob') {
        display: none;
    }
}

.header__socials {
    display: flex;
    @include respond-to('mob') {
        display: none;
    }
}

.header__social {
    cursor: pointer;
    height: 1.9vw;
    width: 1.9vw;
    &:not(:first-of-type) {
        margin-left: 0.72vw;
    }
}