.index-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.index-block__header {
    margin-top: 2.48vw;
    font-family: 'MontserratSemiBold', sans-serif;
    font-size: 1.6vw;
    color: #242424;
    text-align: center;
    @include respond-to('mob') {
        margin-top: 7vw;
        font-size: 9vw;
        padding: 0 12px;
    }
}

.index-block__header_size_md {
    font-size: 1.7vw;
    @include respond-to('mob') {
        font-size: 7.5vw;
        margin-top: 5vw;
    }
}

.index-block__image {
    margin-top: 2.64vw;
    background: url('../images/index_image.jpg');
    background-size: cover;
    width: 19.04vw;
    height: 20.2vw;
    @include respond-to('mob') {
        margin-top: 7vw;
        width: 69vw;
        height: 73.68vw;
    }
}

.index-block__description {
    margin-top: 2.64vw;
    font-family: 'MontserratMedium', sans-serif;
    font-size: 1.16vw;
    color: #242424;
    text-align: center;
    @include respond-to('mob') {
        margin-top: 7.32vw;
        font-size: 4.42vw;
        padding: 0 9vw;
    }
}

.index-block__button {
    margin: 2.04vw 0 5vw;
    font-size: 1.16vw;
    width: 23.86vw;
    height: 4.4vw;
    @include respond-to('mob') {
        margin: 7vw 0 8.8vw;
        font-size: 5.2vw;
        width: 84.36vw;
        height: 16.92vw;
    }
}

.index-block__footer {
    color: #ff0000;
    font-family: 'MontserratRegular', sans-serif;
    font-size: 1.16vw;
    text-align: center;
    margin-right: auto;
    margin-top: auto;
    border-bottom: 1.46vw solid #ff0000;
    padding: 1.02vw 0;
    width: 14.64vw;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        right: -2.2vw;
        width: 4.4vw;
        height: 1.66vw;
        background: #fff;
        transform: skew(70deg);
        bottom: -1.46vw;
    }
    @include respond-to('mob') {
        display: none;
    }
}

.index-block__choose-prize {
    width: 23.86vw;
    @include respond-to('mob') {
        width: 84.36vw;
    }
}

.index-block__status-bar {
    margin-top: 1.6vw;
    margin-bottom: 1.5vw;
    @include respond-to('mob') {
        margin-top: 3.5vw;
        margin-bottom: 4vw;
    }
}
