.shipping-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.shipping-block__suggestion {
    margin-top: 2.18vw;
    font-family: 'MontserratSemiBold', sans-serif;
    font-size: 0.88vw;
    color: #6dcff6;
    align-self: end;
    @include respond-to('mob') {
        margin-top: 6.24vw;
        font-size: 2.48vw;
    }
}

.shipping-block__fields {
    display: flex;
    width: 100%;
    margin-top: 0.44vw;
    @include respond-to('mob') {
        margin-top: 1.56vw;
    }
}

.shipping-block__field {
    font-size: 0.72vw;
    padding: 0 0.28vw;
    height: 2.04vw;
    line-height: 2.04vw;
    &:not(:first-child) {
        margin-left: 0.72vw;
    }
    @include respond-to('mob') {
        font-size: 2.6vw;
        padding: 0 1.04vw;
        height: 7.8vw;
        line-height: 7.8vw;
        &:not(:first-child) {
            margin-left: 2.6vw;
        }
    }
}

.shipping-block__headline {
    width: 67%;
    font-family: 'MontserratSemiBold', sans-serif;
    font-size: 1.2vw;
    color: #000;
    text-align: center;
    @include respond-to('mob') {
        font-size: 4vw;
    }    
}