.status-bar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.status-bar__item {
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #dbe0eb;
    color: #fff;
    font-size: 1vw;
    width: 1.8vw;
    padding: 0.3vw;
    font-family: 'MontserratSemiBold', sans-serif;
    border-radius: 1vw;
    text-align: center;
    @include respond-to('mob') {
        width: 7.5vw;
        padding: 1.5vw;
        border-radius: 5vw;
        font-size: 4vw;
    }
}

.status-bar__line {
    background-color: #dbe0eb;
    margin: 0 0.3vw;
    width: 1vw;
    padding: 0.1vw;
    @include respond-to('mob') {
        width: 3vw;
        margin: 0 1vw;
        padding: 0.3vw;
    }
}

.status-bar__active {
    background-color: #8ea6e6; 
}