body {
	background: #fff;
}

.congratulations {
	color: #363636;
	font-size: 24px;
}

.youwere {
	color: #363636;
	font-size:16px;
}
.free {
	background: #de4841;
	color:#ffff00;
	font-size: 16px;
	width: 300px;
}

.free span {
	background: #de4841;
	color:#fff;
	font-size: 16px;
	width: 300px;
}

.normal {
	color: #363636;
	font-size:12px;
}

.normal strike {
	background: #ff6666;
	color: #363636;
	
}

.normal span {
	color: #ff0000;
	font-size: 12px;
}

.button_getmy {
	background: #d91c1e;
	color: #fff;
	font-size:19px;
	width: 300px;
	padding: 20px;
	border-radius: 10px;
}

.strip{
	background: #acacac;
	height: 3px;
	width: 800px;
}

.icon {
	color: #363636;
	font-size:10px;
}
