body {
	background:#fff;
}

.lakers {
	color:#542583;
}


.line {
	background: #feb727;
	height: 10px; 
}

.line div {
	background: #542583;
	height: 10px;
	width: 30%;
}

.long {
	background: #832539;
	height: 25px;
}
.long:hover {
	background: yellow;
	transform: translateY(50px);
	transition: 3s;
}

.long div {
	background: #2ad925;
	height: 25px;
	width: 50%;
	transition: 3s;
}

.long div:hover {
	background: red;
	transition: 1s;
}




