.footer {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    background: #000;
    padding: 6vw 0;
    @include respond-to('mob') {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        padding: 20vw 0;
    }
}

.footer__logo {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    img {
        width: 9vw;
        margin-right: 6.8vw;
    }
    @include respond-to('mob') {
        align-items: flex-start;
        justify-content: center;
        img {
            width: 30vw;
            margin-right: 0;
        }
    }
}

.footer__container {
    width: 22vw;
    @include respond-to('mob') {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h3 {
        font-family: 'ArchivoBold', sans-serif;
        font-size: 1.7vw;
        color: #fff;
    }
    p {
        color: #959595;
        font-family: 'ArchivoRegular', sans-serif;
        font-size: 0.9vw;
        line-height: 1.5;
        margin: 1.5vw 0;
    }
    @include respond-to('mob') {
        h3 {
            font-size: 5vw;
            text-align: center;
            margin-top: 10vw;
        }
        p {
            font-size: 2.5vw;
            width: 70%;
            text-align: center;
            margin: 3vw 0 0;
        }
    }
}

.footer__nav {
    flex: 1;
    li {
        margin-left: 8.5vw;
        margin-bottom: 1.3vw;
    }
    a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-family: 'ArchivoBold', sans-serif;
    }
    @include respond-to('mob') {
        margin: 10vw 0;
        li {
            margin-left: 0;
            margin-bottom: 7vw;
            text-align: center;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}