.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2vw 5.8vw;
    transition: 0.6s ease-out;
    @include respond-to('mob') {
        padding: 6vw 7vw;
    }
}

.header_onscroll {
    transition: 0.6s ease-out;
    background: #fafafa;
}

.header__toggle {
   font-size: 5vw;
}

.header__toggle_in-nav {
    align-self: flex-start;
    margin-left: 7vw;
}

.header__logo {
    display: flex;
    align-items: center;
    img {
        width: 5.9vw;
    }
    @include respond-to('mob') {
        display: block;
        img {
            width: 20vw;
        }
    }
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond-to('mob') {
        transition: 1s ease-in-out;
        position: fixed;
        top: 0;
        left: 101vw;
        background: #fafafa;
        width: 100%;
        flex-direction: column;
        padding: 7vw 0;
    }
}

.header__nav_active {
    transition: 1s ease-in-out;
    left: 0;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    li {
        font-size: 1vw;
        margin-right: 5.5vw;
        text-transform: uppercase;
        font-family: 'ArchivoBold', sans-serif;
        a {
            text-decoration: none;
            color: #000;
        }
    }
    @include respond-to('mob') {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        width: 80%;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        margin-bottom: 5vw;
        li {
            font-size: 5vw;
            margin-right: 0;
            margin-bottom: 10vw;
            &:last-child {
                margin-bottom: 5vw;
            }
        }
    }
}