.social {
    display: flex;
    li {
        font-size: 1.3vw;
        margin-right: 2vw;
        &:last-child {
            margin-right: 0;
        }
        a {
            text-decoration: none;
        }
    }
    @include respond-to('mob') {
        justify-content: space-between;
        width: 70%;
        li {
            font-size: 8vw;
        }
    }
}

.social_theme_dark {
    a {
        color: #000;
    }
}

.social_theme_light {
    a {
        color: #fff;
    }
}