.about-us {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.about_us__text {
	text-align: left;
	width: 20%;
	h1 {
		font-size: 16px;
		color: #335141;
		font-family: 'MontserratSemiBold', sans-serif;
		line-height: 3;
	}
	p {
		box-sizing: border-box;
		font-size: 16px;
		color:#828876;
		font-family: 'MontserratRegular', sans-serif;
		line-height: 2;
		padding-bottom: 20px;
	}
}

.about_us__video {
	width: 70%;
	iframe {
		width: 55vw;
		height: 21vw;
		padding-top: 23px;
	}
}