.contacts {
    display: flex;
    align-items: stretch;
}

.contcts__image {
    width: 90px;
    display: flex;
    align-items: center;
    img {
        width: 100%;
    }
}

.contacts__info {
<<<<<<< HEAD
    padding-left: 30px;
=======
    padding-left: 40px;
>>>>>>> ea7401d46abb8bd8fe6ee108bd2e17a8d034e53a
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3.8;
<<<<<<< HEAD
}

.contacts__info_theme-location {
    padding-bottom: 35px;
}

.contacts__map {
    width: 860px;
    height: 860px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts__cover {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}

.contacts__item {
    display: flex;
    flex-direction: column;
=======
>>>>>>> ea7401d46abb8bd8fe6ee108bd2e17a8d034e53a
}