.footer {
	background: #5b5744;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__logo {
	display: flex;
	padding-bottom: 70px;
	padding-top: 80px;
}

.footer__text {
	display: flex;
	width: 80%;
	p {
		font-size: 23px;
		font-family:'MontserratRegular', sans-serif;
		line-height: 2;
		color: #e5dccf;
		text-align: center;
		padding-bottom: 100px;
		padding-top: 70px;
		word-wrap: break-word;
	}
}