 .header {
 	box-sizing: border-box;
 	display: flex;
 	padding: 50px 70px;
 	align-items: center;
 	justify-content: space-between;
 }

.header__menu {
	display: flex;
	justify-content: space-between;
	width: 55%;
}