.headline_theme_banner {
	font-size: 130px;
	color: #335141;
	font-family: 'MontserratBold', sans-serif;
}

.headline_theme_light {
	font-size: 75px;
	color: #e5dccf;	
	font-family: 'MontserratSemiBold', sans-serif;
}

.headline_theme_default {
	font-size: 48px;
	color: #335141;	
	font-family: 'MontserratBold', sans-serif;
}

.headline_theme-dark {
	font-size: 23px;
	color: #335141;	
	font-family: 'MontserratSemiBold', sans-serif;
}