.invite {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.invite__text {
	text-align: left;
	width: 50%;
	h1 {
		font-size: 23px;
		color: #335141;
		font-family: 'MontserratSemiBold', sans-serif;
		padding-bottom: 40px;
		line-height: 2;
	}
	p {
		box-sizing: border-box;
		font-size: 23px;
		color:#828876;
		font-family: 'MontserratMedium', sans-serif;
		line-height: 2;
	}
}

.invite__arrow {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-right: 110px;
	width: 100%;
	height: 890px;
}

.invite__image {
	height: 160px;
}