.main-decribe {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.main-decribe__item {
	width: 29%;
	font-family:'MontserratRegular', sans-serif;
	font-size: 23px;
	color: #335141;
	line-height: 2;
}

.main-decribe__item_center {
	text-align: center;
	width: 34%;
}

.main-decribe__item_right {
	text-align: right;
}