.personnel {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.personnel__item {
  height: 20vw;
  width: 25%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.personnel__cover {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	color: #ffffff;
	background: rgba(0,0,0,0.4);
	opacity: 0;
	font-size: 13px;
	font-family: 'MontserratSemiBold', sans-serif;
	line-height: 2;
	padding-left: 30px;
	padding-bottom: 20px; 
	width: 100%;
	height: 100%;
}

.personnel_cover:hover {
	opacity: 1;
	transition: 0.3s;
}

.personnel_cover p:last-child {
	color: #ffffff;
	font-family: 'MontserratRegular', sans-serif;
}

.personnel_text {
	color: #fffef9;
	font-size: 44px;
	font-family: 'MontserratSemiBold', sans-serif;
	line-height: 1.5;
	text-decoration: underline;
	padding-top: 30px;
	padding-left: 25px;
    box-sizing: border-box;
}