.statement {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.statement__item {
	width: 48%;
	color: #828876;
	font-size: 23px;
	font-family: 'MontserratMedium', sans-serif;
	h1 {
		font-size: 23px;
		line-height: 4;
	}
	p {
		line-height: 2;
	}
}

.statement__item_theme-alignment {
	padding-top: 100px;
}