.staff {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.staff__info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;;
	height: 29.5vw;
	width: 29.5vw;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.staff__item {
	box-sizing: border-box;
	color: #ffffff;
	font-size: 30px;
	line-height: 1.5;
	font-family: 'MontserratSemiBold', sans-serif;
	padding-left: 13px;
	padding-bottom: 10px;
	border: 18px solid;
    border-color: #000;
    background-color: #000;
    opacity: 0.4;
    width: 29.5vw;
}	

.staff__item p:last-child {
	color: #ffffff;
	font-size: 23px;
	font-family:'MontserratRegular', sans-serif;
}

.staff__line {
	width: 100%;
	position:absolute;
	opacity: 0;
	left: 0;
	top: auto;
	bottom: 0;
	height: 15px;
	background: #d26a35;
}

.staff__info:hover .staff__line { 
	opacity: 1;
}
