/*--------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* ------------------- HemorrhoSTOP_v2 - form_styles.css -------------------------- */
/* --------------- please use soft tabs - 4 spaces identation. -------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* ------------------------- */ @charset "utf-8"; /* ------------------------------ */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
html {
    margin: 0;
    padding: 0;
}
body {
    background-size: 100% 50%;
    background: url('s5.jpg') top left repeat #3A712E;
    background-size: cover;

}
.wrapper {
    margin: 0 auto;
    display: block;
    width: 998px;
}

.step2 {
    margin-top: 0;
    padding-top: 0px;
    margin-bottom: 0px;
    position: relative;
    width: 100%;

    border: 1px solid #000000;
    font-family: Arial,Helvetica,sans-serif;
    position: relative;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.title {
    margin: 10px 0 0px;
    margin-top: 10px;
    text-transform: none;
}

.holder-form {
    font-family: Tahoma, Verdana;
    margin-bottom: 10px;
}


h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#orderform {
    margin: 0 auto;
    display: block;
    width:71%;
}

.priceBox td {
    padding: 2px 10px;
}

.priceBox {
    margin: 0 auto;
    display: block;
    width: 380px;
    margin-bottom: 10px;
    float: right;
}

.center {
    text-align: center;
}

.figure {
    text-align: center;
}

.text-right2 {
    text-align: right;
}

.text-left {
    text-align: left;
}

.price {
    color: red;
}

.fShipping {
    color: #008EFF;
    color: #0FAFE5;
    font-weight: bold;
    color: red;
}

.lTh {
    text-decoration: line-through;
}

.priceSelect {
    display: block;
    height: 40px;
    margin: 10px auto;
    max-width: 300px;
    width: 48%;
    font-weight: bold;
    float: left;
    margin-left: 110px;
}

.priceSelect option {
    font-size: 16px;
}

.billing_country {
    font-size: 14px !important;
    height: 30px !important;
    font-weight: bold !important;
}

#full_price, #promoTotal {
    font-weight: bold;
}

.col-4, .col-6, .col-8, .col-12 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.col-4  {
    width: 33%;
}

.col-8  {
    width: 65%;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.subblock-step2 {
    margin: 5px auto;
    padding: 8px 5px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #ffffff;
    display: block;
    position: relative;
    color: #000;
    vertical-align: middle;
    max-width: 380px;
    float: right;
}

.subblock-step2 h4 {
    text-transform: uppercase;
    line-height: 5px;
}

.subblock-step2 img {
    width: 80px;
    height: 70px;
    float: left;
    margin: 10px 14px 0px 7px;
}

.subblock-step2 .deliveryImg {
    width: 130px;
    height: 100px;
    margin: 10px 12px 0 10px;
}

.subblock-step2 .guaranteeImg {
    width: 100px;
    height: 100px;
    margin: 10px 20px 10px 30px;
}

.subblock-step2 .paymentImg {
    width: 100px;
    height: 100px;
    margin: 10px 20px 0 30px;
}

#orderform p {
    margin: 2px 0;
}

#orderform input, #orderform select, #form-index input, #form-index select {
    border: 1px solid black;
    font: 12px/16px Arial,Helvetica,sans-serif;
    height: 20px;
    margin: 0 0 14px 5px;
    padding: 3px;
    width: 320px;
    box-sizing: initial;
}

#orderform label {
    display:block;
    display:block\9;
}

.fixedDoctor {
    bottom: 10px;
    position: fixed;
    right: 10px;
    width: 160px;
}

::-webkit-input-placeholder {
    color: #000;
    font-style: italic;
}
:-moz-placeholder {
    color: #000;
    font-style: italic;
}
::-moz-placeholder {
    color: #000;
    font-style: italic;
}
:-ms-input-placeholder {
    color: #000;
    font-style: italic;
} {
    color: #000;
    font-style: italic;
}

img:hover {
    -webkit-filter: saturate(2);
}

.rushOrder {
    border:none;
    border-color: #398439;
    color: #ffffff;
    padding: 30px 60px;
    margin-left: 0;
    width: 338px;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #FF9000;
    background-color: red;
    vertical-align: middle;
    line-height: 0px;
    border: 1px solid #565656;
    border-radius: 3px;
}

.rushOrder:hover {
    color: #ffffff;
    background-color: red;
    background-color: #FF9000;/
}

.productImg {
    width: 85%;
}

.exclusive {
    background-color: #FF9000;
    background-color: #f4f79b;
    font-weight: bold;
}

.guaranty {
    display: none;
}

#orderform input:focus, #orderform textarea:focus {
    outline: 0px none;
    box-shadow: 0px 0px 3px 3px #00FF00;
}

#shipping_areacode {
    width: 24px !important;
    display: inline-block;
    float: left;
    margin: 0 0 10px 6px !important;
    background-color: #dddddd !important;
}

#shipping_phone {
   // width: 282px !important;
    display: inline-block;
}

#footer {
    margin-top: 104px;
    padding: 24px;
    background: rgba(0,0,0,0.65);
    background-color: #003B69;
}
.footer {
    padding: 0px 0px;
    text-align: center;
    font-size: 12pt;
    color: #000;
}

.footer a {
    font-size: 14px;
    text-decoration: none;
    /*color: #fff;*/
    color: #000;
}

.footer span {
    margin-left: 4px;
}

/* -------------------------------------------------------------------- */
/* ----------------------- Tooltips - Alerts -------------------------- */
/* -------------------------------------------------------------------- */
.tip {
    position:absolute !important;
    width: 330px;
}
.toolTip {
    background: red;
    border: thin solid red; /* change color here for the tooltip body border */
    color: #fff;
    left: 0px;
    margin-top: 28px;
    padding: 6px;
    position: absolute;
    text-align: center;
    z-index: 10;
    border-radius: 4px;
    font: bold 11px 'verdana';
    width: 314px;
}
.toolTipArrow {
    border-color: transparent transparent red transparent; /* change color here for the triangle border */
    border-style: solid;
    border-width: 10px;
    height: 0px;
    width: 0px;
    position:absolute;
    top:-20px;
    left:20px;
    display:block;
    content:"\00a0";
}
.toolTipArrow:before {
    border-color: transparent transparent red transparent;
    position:absolute;
    top:-11px;
    left:-12px;
    border-style: solid;
    border-width: 12px;
    height:0px;
    width:0px;
    display:block;
    content:"\00a0";
}
/* -------------------------------------------------------------------- */
/* ----------------------- Success.html styles ------------------------ */
/* -------------------------------------------------------------------- */
.clearfix:before, .clearfix:after, .cf:before, .cf:after {
    display: block;
    clear: both;
    float: none;
    content: " ";
}

.clearfix, .cf {
    zoom:1;
}

.bold {
    font-weight: bold;
}

.logo-icon {display: inline; vertical-align: bottom; margin-right: 10px; display: inline; vertical-align: top;}
.success-logo { display: inline; vertical-align: bottom; margin-right: 10px; }
.tableStep3 {margin: 0 auto; border-collapse: collapse;}
.tableStep3 td, .tableStep3 tr, .tableStep3 th { border: 2px solid #71DA3C; padding: 2px 10px; vertical-align: middle;}
.block5 {margin: 0px auto; padding: 10px; background-color: #ffffff;}
.success-form {border: 1px solid #71DA3C; text-align: center; }
.success-congrats { margin-top: 16px; font-size: 22px; font-weight: bold; }
.success-orderdays {  margin: 10px auto; padding: 10px 20px; background-color: #75DC3E; text-align: center; }
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* --------------- please use soft tabs - 4 spaces identation. -------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
.rushOrder {
    border: 1px solid #015da7;
    border-radius: 2px;
    background: #5cbbff;
    background: -moz-linear-gradient(top, #5cbbff 0%, #2989d8 75%, #0095ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5cbbff), color-stop(75%,#2989d8), color-stop(100%,#0095ff));
    background: -webkit-linear-gradient(top, #5cbbff 0%,#2989d8 75%,#0095ff 100%);
    background: -o-linear-gradient(top, #5cbbff 0%,#2989d8 75%,#0095ff 100%);
    background: -ms-linear-gradient(top, #5cbbff 0%,#2989d8 75%,#0095ff 100%);
    background: linear-gradient(to bottom, #5cbbff 0%,#2989d8 75%,#0095ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cbbff', endColorstr='#0095ff',GradientType=0 );
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.35);
    box-shadow: 1px 2px 2px rgba(164,170,178,0.5), 1px 1px 0px rgba(255,255,255,0.35) inset;
    -webkitbox-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.rushOrder:hover {
    -webkit-filter: saturate(3);
    -moz-filter: saturate(3);
    filter: saturate(3);
}
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
#formContainer {
    width: 270px;
    margin: 0 auto;
    position: absolute;
    top: 200px;
    right: 30px;
}
.displayNone {
    display:none;
}

.alert_message {
    background-color: #ff0;
    border: 5px dashed #f02773;
    font-weight: bold;
    padding: 5px;
}

.address_alert {
    background:#FF0 !important;
    color:#000 !important;
    width:370px !important;
    border-color:#FF0 !important;
    width:358px !important;
}
.arrowColor {
    border-color: transparent transparent #ffd200 transparent !important;
}
.arrowColor:before {
    border-color: transparent transparent #ffd200 transparent !important;
}

#orderform {
    overflow: visible;
    position: relative;
    width: 380px;
    margin:0 auto;
    margin-bottom: 20px;
    float: right;
    border: none !important;
}
#orderform label, .form-index label {
    color: #000;
    display:block;
    display:block\9;
    font: bold 17px Arial, Helvetica, sans-serif;
    width: 100%;
    text-align:left;
}
#shipping_areacode {
    width: 28px !important;
}
#orderform input, #orderform select, #form-index input, #form-index select, textarea {
    height: 20px;
    border: 1px solid green;
    font: normal 12px/16px Arial, Helvetica, sans-serif;
    padding: 3px;
    width:370px;
    margin: 0 0 10px 0px;
    margin-bottom: 16px;
    display:block;
}
textarea{min-height: 50px;}
#orderform input:focus, #form-index input:focus {
    box-shadow: 0 0 5px red;
    -webkit-box-shadow: 0 0 5px red;
    -moz-box-shadow: 0 0 5px red;
    border:1px solid red;
}
#orderform .rushOrder, .form-index .rushOrder {
    display: block;
    width: 377px;
    text-transform:uppercase;
    text-shadow: 1px 1px #000000;
    overflow:hidden;
    cursor:pointer;
    margin: 0 auto;
    color:#FFFFFF;

    padding: 10px 10px;
    line-height: 32px;
}
#form {
    visibility: hidden;
}
#orderform br {
    clear:both;
}

.rushOrder {
    border: medium none -moz-initial;
    border-radius: 5px;
    border-top: 10px solid #fdb44c;
    background: #fb963a none repeat scroll top left;
    background: transparent -moz-linear-gradient(top, #fb963a 0%, #e84c01 100%) repeat scroll top left;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb963a', endColorstr='#e84c01',GradientType=0 );
    border-bottom: 1px solid #b0dde1;
}
/* -------------------------------------------------------------------- */
/* ----------------------- Tooltips - Alerts -------------------------- */
/* -------------------------------------------------------------------- */
.tip {
    position:absolute !important;
    width: 150px;
}
.toolTip {
    background: red;
    border: thin solid red; /* change color here for the tooltip body border */
    color: #fff;
    left: 0px;
    margin-top: 28px;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 366px;
    z-index: 10;
    border-radius: 4px;
    font: bold 11px 'verdana';
}
.toolTipArrow {
    border-color: transparent transparent red transparent; /* change color here for the triangle border */
    border-style: solid;
    border-width: 11px;
    height:0px;
    width:0px;
    position:absolute;
    top:-20px;
    left:20px;
    display:block;
    content:"\00a0";
}
.toolTipArrow:before {
    border-color: transparent transparent red transparent;
    position:absolute;
    top:-11px;
    left:-12px;
    border-style: solid;
    border-width: 12px;
    height:0px;
    width:0px;
    display:block;
    content:"\00a0";
}


#orderform #shipping_areacode {
    width: 30px;
    height: 25px;
    float: left;
    margin: 0 10px 0 0 !important;
}


.notes {
    display: block;
    width: 252px;
    background-color: #DCF030;
    border-radius: 10px;
    border: 1px dashed black;
    padding: 10px 20px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* --------------- please use soft tabs - 4 spaces identation. -------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */


.container {
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 740px;
    }
    nav {
        width: 740px !important;
    }
    .navbar-brand{
        position: inherit !important;
    }
}
@media (min-width: 992px) {
    .container {
        width: 1024px;
    }
}
@media (min-width: 1200px) {
}
.col-3, .col-8, .col-4, .col-6, .col-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}
.col-12 {
    width: 100%;
}
.col-8 {
    width: 66.66666667%;
}
.col-6 {
    width: 50%;
}
.col-4 {
    width: 33.33333333%;;
}
.col-3{
    width: 25%;
}
@media (max-width: 768px) {
    .col-8{
        width: 100%;
    }
    .col-6{
        width: 100%;
    }
    .col-4{
        width: 100%;
    }
    .col-3{
        width: 100%;
    }

    #orderform {
        width: 350px;
    }

    .step2 {
        padding: 0;
        width: 100%;
    }

    .container {
        padding: 0;
        width: 100%;
    }

    .notes {
        width: 80%;
    }

    #orderform #billing_phone {
        width: 270px;
    }
    .priceSelect {
        display: block;
        margin: 0 auto 10px auto !important;
    }
}

@media (max-width: 1024px) {
    #orderform input, #orderform select, #form-index input, #form-index select {
        width: 90%;
    }
    #orderform .rushOrder, .form-index .rushOrder {
        width: 88%;
    }

    .priceBox {
        width: 300px;
        float: none;
        clear: both;
    }

    .priceSelect {
        width: 90%;
        float: none;
    }
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */





/* ----------------------------------------------- */
/* --------------- middle forms ------------------ */
/* ---------- 3 january FB mail changes ---------- */
/* ----------------------------------------------- */
.within-24-hours-box {
    width: 100%;
    border: 3px dashed red;
    background: yellow;
    margin: 20px 0;
    text-align: center;
}

.within-24-hours-box p {
    padding: 4px;
}

.pBox {
    background-color: #C5CCC7;
    background-color: #fff;
    border: dashed 1px #e8eadd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow:hidden;
    position:relative;
    padding:1px;
    margin: 0 auto 20px;
    width: 125%;
}
.pBoxActive {
    background-color: rgba(126, 140, 148, 0.89);
    background-color: #A4DE03;
    background-color: #003d56;
}
.pBoxActive .pNav {
    color:#FFF;
    font-size: 16px;
    font-weight: bold;
}
.pBoxActive .pContent .green {
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}
.pBoxActive button.selectP:hover {
    cursor:auto;
}
.pricesHolder {
    margin: 0;
}
button.selectP {
    background-color: #1F9DD3;
    border:none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-sizing: inherit;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-weight: bold;
    font-size: 13px;
    height: 46px;
    margin: 15px 32px 15px 5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
}
button.selectP:hover {
    background-color:#137CA9;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#full_price {
    color: #F00;
    text-decoration: line-through;
}
.greenPr {
    color: #1f9e11;
    font-size:24px;
}
.pContent p, .ppcon {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
}
.pBox .priceNew, .pBoxActive .priceNew {
    font-size: 30px;
    color: #1f9e11;
}
.pContent {
    float: right;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 20px;
    width: 38%;
}
.pNav {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #003975;
    font-size:16px;
    padding: 5px;
    padding-top: 10px;
    height: 35px;
    text-transform: uppercase;
    border-bottom: dashed 1px;
    width: 95%;
    margin: 0 auto;
    font-weight: bold;
}
.pNavR {
    float: right;
    font-size: 15px;
    font-weight: bold;
}
.pBoxActive .pNav {
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.pBoxActive button.selectP {
    background-color: #FFFFFF;
    border: none;
    color: #012873;
    font-weight: 900;
}
.pBoxActive button.selectP:hover {
    cursor:auto;
}
.save0, .save1, .save2 {
    color: #FFFFFF;
}
.pBox .freeSh, .pBoxActive .freeSh {
    left:160px;
}
.pBox img {
    max-width: 130px;
}
.plus {
    margin-left: -38px !important;
    max-width: 141px !important;
}
.plus2 {
    margin-left: -38px !important;
    max-width: 239px !important;
}
#showProductSelect {
    background-color: #E8E8E8;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    max-width: 290px;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px auto;
}
.pBox .priceOld, .pBoxActive .priceOld {
    color: #FF0000;
    text-decoration: line-through;
    font-size: 19px;
}
.prodBox {
    margin-top: 10px;
    margin-left: 30px;
    display: inline-block;
    text-align: center;
    float: left;
    vertical-align: middle;
    width: 50%;
}

.plussign {
    max-width: 50px !important;
    margin-bottom: 18px;
}

.productImgSmall {
    max-width: 100px;
}

.hot {
    position: absolute;
    left: -1px;
    top: -1px;
}

.star {
    margin: 0 auto;
    background: url('save_bg.png') no-repeat top left;
    width: 143px;
    height: 104px;
    padding: 24px 0 0;
    text-align: center;
    color: #000000;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    text-transform: uppercase;
}



.pNav2 .pNavR {
    margin-left: 20px;
}

.mr10l {
    margin-left: 5px;
}

.priceBoxContainer {
    border-radius: 10px;
}

.pBoxActive .pContent .green {
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

@media(max-width: 994px){
    .pContent {
        width: 100%;
        margin: 0;
        padding: 20px;
        text-align: center;
    }
    .prodBox {
        width: 100%;
        text-align: center;
    }
    button.selectP {
        margin: 0 auto;
        float: none;
    }
}

.priceBox {
    float: none;
    background: #fff;
    border-radius: 10px;
    float: right;
}

.subblock-step2 .paymentImg {
    margin: 18px 26px 0px 7px !important;
    width: 122px;
    height: 70px;
}

.subblock-step2 img {
    padding-bottom: 22px;
}

.subblock-step2 .guaranteeImg {
    margin: 10px 20px 20px 16px;
}

.subblock-step2 .deliveryImg {
    margin: 10px 18px 10px 10px;
}

.subblock-step2 .paymentImg {
    width: 100px;
    height: 90px;
    margin: 18px 26px 32px 7px !important;
}

.white {
    color: #fff;
}

.sec12 {
    padding: 0px 10px 4px 10px;
}

.test {
    float:right;
    width: 38%;
}

#maximise {
    width: 100% !important;
}

#cards {
    background: rgba(0, 0, 0, 0) url("card_logos.png") no-repeat scroll 0 0;
    clear: both;
    display: block;
    height: 30px;
    margin: 6px auto;
    width: 220px;
}

#billingInfo {
    border: none !important;
}

fieldset {
    border: none !important;

    margin: 0;
    padding: 0;
}

#sameshipping {
    float: left;
    height: 18px !important;
    width: 18px !important;
}

#stext {
    float: left;
    font-size: 14px;
    margin-left: 6px;
}

#cvv2Number {
    display: inline-block;
    float: left;
    width: 200px !important;
}

.cvvLocation {
    display: none;
    left: -295px;
    position: absolute;
    top: 317px;
}

.help {
    cursor: pointer;
    float: left;
    line-height: 28px;
    margin-left: 10px;
}