 body {
 	background:#fff;
 }

.join_my {
	background: #007bd3;
	color: #ffffff;
}

.button_join {
	background: #007bd3;
	color:#fff;
}

.doitcreatively {
	color:#8a46ab;
}

.button_login {
	background:#fd9066;
	color:#ffffff;
}

.button_getinouch {
	background: #027bd3;
	color:#fff;
}

.imsara {
	color: #343434;
}

.theseare {
	color: #b4b4b4;
}

.latest {
	background: #8a46ab;
	color:#fff;
}

.podcast {
	background: #d34999;
	color: #fff;
}

.joinmy {
	background: #8a46ab;
	color:#fefefe;
}

.button_your {
	background: #fefdfe;
	color:#808080;
}

.button_subscribe {
	background: #fc8f67;
	color:#fefefe;
}

.featured {
	color:#343434;
}

.financial {
	color: #343434;
}

.august {
	color: #808080;
}

.how {
	color: #343434;
}

.readmyblog {
	background:#8a46ab; 
	color:#fff;
}

.button_byubook {
	background: #067ed4;
	color:#fff;
}

.mail {
	color: #343434;
}

.title {
	color: #343434;
}

.button_see {
	background:#8b48ac; 
	color:#fff;
}

.hire_me {
	background: #410060;
	color:#fff;
}

.button_contract {
	background: #fe9165;
	color:#fff;
}

.reviews {
	background: #410060;
	color:#fff;
}
