 body {
 	background: #fff;
 }

.thank {
	color: #363636;
	font-size:25px;
}

.your {
	color: #959595;
	font-size:11px;
}

.mail {
	color: #363636;
	font-size:12px;
}

.word {
	color: #0054a6;
	font-size:12px;
}

.customer {
	background: #fafafa;
	color: #363636;
	font-size:8px;
}

.firstname {
	background: #fafafa;
    color: #363636;
	font-size:11px;	
}

.items {
	color: #363636;
	font-size:8px;
}

.qty {
	color: #959595;
	font-size: 8px;
}

.one {
	color: #363636;
	font-size: 9px;
}

.subtotal {
	background: #fafafa;
	color: #959595;
	font-size:8px;
}

.money {
	background: #fafafa;
	color: #363636;
	font-size:9px;
}

.saved {
	color: #de4841;
	font-size:11px;
}

.strip {
	background: #f6f6f6;
	height: 3px;
	width: 800px;
}

.whatcan {
	color: #363636;
	font-size:15px;
}

.button_one {
	background: #53ffff;
	color: #434e4f;
	width: 10px;
	padding: 5px;
	border-radius: 10px;
}

.confirmation {
	color: #363636;
	font-size:11px;
}

.more {
	color: #898989;
	font-size: 11px;
}

.line {
	background: #eeeeee;
	height: 3px;
	width: 800px;
}

.em {
	color: #363636;
	font-size: 10px;
}

.stripline {
	background: #acacac;
	height: 3px;
	width: 800px;
}

.icon {
	color: #363636;
	font-size:10px;
}
