 body {
 	background: #fff;
 }

.yougot {
	color: #363636;
	font-size: 24px;
}

.rediant {
	color: #363636;
	font-size:16px;
}

.button_sharef {
	background: #4373f4;
	color: #fff;
	font-size:12px;
	width: 300px;
	padding: 10px;
	border-radius: 10px;
}

.click {
	color: #363636;
	font-size:15px;
}

.free {
	background: #fff200;
	color: #363636;
	font-size:15px;
	width: 300px;
}

.button_test {
	background: #d91c1e;
	color: #fff;
	font-size:19px;
	width: 300px;
	padding: 20px;
	border-radius: 10px;
}

.strip{
	background: #acacac;
	height: 3px;
	width: 800px;
}

.icon {
	color: #363636;
	font-size:10px;
}
