body {
	min-height: 500px;
	background: url(../img/liverpoolquizbg.jpg) no-repeat center fixed black;
	margin: 0;
	padding: 0;
	background-size: cover;
}

html, body, p, a, li, button {
    font-family: 'Karla', sans-serif
}

p {
	color: #fff;
	margin: 0;
}

a {
	text-decoration: none;
	-webkit-appearance: none; 
	-moz-appearance: none;
}

.header {
	background: #000;
	height: 60px;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	position: fixed;
}

.logo {
	height: 35px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 70px 0 0;
}

.headline { 
	font-size: 54px;
	margin: 0 148px 30px;
	line-height: 100%;
	text-align: center;
}

.btn_content {
	background: #00000000;
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	width: 540px;
	padding: 15px 30px;
	border-radius: 10px;
	border: 2.5pt solid white;
	margin: 10px 0 10px;
}

.btn_content:hover {
	transform: scale(1.1);
}

.btn_content:focus {
	outline: none;
	background: #fff;
	color: #000;
}
.marker_content{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px 0 15px;
}
.marker_content_start {
	background-color: #c8f700;
    color: #000;
    font-size: 20px;
    width: 24px;
    padding: 1px;
    border-radius: 50px;
    text-align: center;
}

.marker_content_line {
    background: #808285;
    margin: 0 2px;
    width: 38px;
    padding: 2px;
}

.marker_content_numbers {
	background-color: #808285;;
    color: #000;
    font-size: 20px;
    width: 24px;
    padding: 1px;
    border-radius: 50px;
    text-align: center;
}

.marker_content_strip {
	background: #c8f700;
    margin: 0 2px;
    width: 38px;
    padding: 2px;
}