body {
	background: #fff;
}

.youfind {
	color: #363636;
	font-size: 24px;
}

.button_stand {
	background: #ebebeb;
	color: #363636;
	font-size:15px;
	width: 300px;
	padding: 20px;
	border-radius: 10px;
}

.strip{
	background: #acacac;
	height: 3px;
	width: 800px;
}

.icon {
	color: #363636;
	font-size:10px;
}
