.activity-organization__design_left {
	display: flex;
	background: url(../images/photo_glasses.jpg) no-repeat center center;
	height: 30vw;
	width: 44vw;
	background-size: cover;
	p {
		flex: 1;
		color: #335141;
		font-size: 110px;
		font-family: 'MontserratSemiBold', sans-serif;
		padding-left: 50px;
		padding-top: 50px;
	}
}

.activity-organization__design_right {
	display: flex;
	background: url(../images/photo_library.jpg) no-repeat center center;
	background-size: cover;
	height: 30vw;
	width: 44vw;
	align-items: flex-end;
	justify-content: flex-end;
	p {
		flex: 1;
		color: #ede4dc;
		font-size: 110px;
		font-family: 'MontserratSemiBold', sans-serif;
		text-align: center;
		padding-bottom: 30px;
	}
}

.activity-organization__marketing {
	display: flex;
	flex-direction: column;
	text-align: center;
    height: 30vw;
	width: 44vw;
	padding: 40px 260px 70px 100px;
	h1 {
		font-size: 30px;
		color: #335141;
		text-align: left;
		font-family: 'MontserratSemiBold', sans-serif;
		line-height: 3;
	}
	p {
		box-sizing: border-box;
		font-size: 23px;
		color:#828876;
		text-align: left;
		font-family:'MontserratRegular', sans-serif;
		line-height: 1.7;
		padding-bottom: 20px;
	}
}

.activity-organization__marketing_left {
    background: linear-gradient(to bottom, #f4eee7, #f4f0ea);
    background-size: cover;
}

.activity-organization__marketing_right {
    background: linear-gradient(to bottom, #f2ede5, #f3eee7);
    background-size: cover;
}