.link {
 	font-family: 'MontserratSemiBold', sans-serif;
	a {
		color: #335141;
		text-decoration: none;
	}
 }

.link_size_md {
	font-size: 30px;
}

.link_theme_white {
	a {
		color: #fff;
		font-size: 23px;
	}
}

.link_size_sm {
	a {
		font-size: 23px;
	}
}

.link_size_theme-position {
	text-decoration: underline;
	padding-top: 50px;
}

.link_size_theme-dark {
	a {
	text-decoration: underline;
	}
}