.page-builder-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
<<<<<<< HEAD
}

.page-builder-contacts__item_theme-location {
 	padding-top: 45px; 
=======
>>>>>>> ea7401d46abb8bd8fe6ee108bd2e17a8d034e53a
}