.page-builder {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.page-builder__text-banner {
	display: flex;
	justify-content: center;
	padding-top: calc(50vh - 130px - 65px);
}

.page-builder__main-decribe {
	width: 80%;
	padding-top: 100px;
}

.page-builder__arrow {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-right: 60px;
	margin-top: -25px;
	margin-bottom: 250px;
	img {
		height: 160px;
	}
}
.page-builder__headline-section {
	display: flex;
	justify-content: flex-start;
	width: 80%;
}

.page-builder__headline-paragraph {
	display: flex;
	justify-content: flex-start;
	width: 80%;
	margin-top: 90px;
}

.page-builder__headline-item {
	display: flex;
	justify-content: flex-start;
	width: 80%;
	margin-top: 190px;
	margin-bottom: 15px;
}

.page-builder__work-structure {
	width: 100%;
	margin-top: 150px;
	position: relative;
}

.page-builder__activity-organization {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-end;
	width: 100%;
	margin-top: 150px;
	margin-bottom: 150px;
}

.page-builder__staff {
	width: 90%;
	margin-left: 10%;
	margin-top: 150px;
	margin-bottom: 150px;
}

.page-builder__customer {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 150px;
	margin-top: 150px;
	padding-left: 210px;
	padding-right: 100px;
}

.page-builder__footer {
	width: 100%;
}

.page-builder__about-us {
	width: 80%;
	margin-top: 135px;
	margin-bottom: 135px;
}

.page-builder__relations {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 40px;
}

.page-builder__lable {
	width: 80%;
	margin-bottom: 165px;
}

.page-builder__personnel {
	width: 90%;
	margin-left: 10%;
	margin-top: 90px;
	margin-bottom: 90px;
}

.page-builder__statement {
	width: 80%;
}
.page-builder__signature {
	width: 80%;
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	margin-bottom: 110px;
	img {				
		height: 160px;
		padding-bottom: 50px;	
	}
	p {
		font-family: 'MontserratMedium', sans-serif;
		color: #828876;
		font-size: 23px;
		padding-left: 120px;
	}
}

.page-builder__invite {
	width: 90%;
	margin-left: 10%;
	margin-top: 220px;
	margin-bottom: 220px;
}

.page-builder__contacts {
	width: 100%;
	background: #f3ece2;
    padding-left: 210px;
    padding-right: 100px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.page-builder__contacts-map {
	width: 100%;
    padding-left: 210px;
    padding-right: 80px;
    margin-top: 200px;
    margin-bottom: 120px;
}

.page-builder__vacancy {
	width: 90%;
	margin-left: 10%;
<<<<<<< HEAD
	margin-top: 50px;
	margin-bottom: 50px;
=======
	margin-top: 100px;
	margin-bottom: 100px;
}

.page-builder__contacts {
	width: 800px;
>>>>>>> ea7401d46abb8bd8fe6ee108bd2e17a8d034e53a
}