
.vacancy {
	height: 990px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vacancy__cover {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	padding-top: 100px;
    padding-left: 70px;
    padding-right: 90px;
}

.vacancy__item {
	width: 30%;
    display: flex;
    flex-direction: column;
}

.vacancy__text {
	font-family: 'MontserratSemiBold', sans-serif; 
  	h1 {
		color: #fac2bd;
		font-size: 30px;
		line-height: 1;
		text-decoration: underline;
	}
	p {
		color: #9b968f;
		font-size: 30px;
		line-height: 2;
	}
}

.vacancy__block {
	width: 55%;
    display: flex;
    flex-direction: column;
}

.vacancy__info {
	h1 {
		font-family: 'MontserratSemiBold', sans-serif; 
		color: #fac2bd;
		font-size: 30px;
		line-height: 3;
	}
	p {
		font-family: 'MontserratRegular', sans-serif; 
		color: #fac2bd;
		font-size: 23px;
		line-height: 2;
	}
}

.vacancy__list {
	padding-top: 30px;
	p {
		font-family: 'MontserratRegular', sans-serif; 
		color: #fff;
		font-size: 23px;
		line-height: 2;
	}
}