.work-structure {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.work-structure__background {
	height: 100%;
	width: 100%;
	position: absolute;
	background: url(./assets/imges/VectorSmart.png) no-repeat center center;
	background-size: cover;
}

.work-structure__enumeration {
	color: #e5dccf;
	font-size: 400px;
	font-family: 'MontserratBold', sans-serif;
	text-shadow: 30px 60px 15px rgba(0,0,0,0.1);
	width: 15%;
}

.work-structure__text {
	width: 40%;
	h1 {
		font-size: 29px;
		font-family: 'MontserratSemiBold', sans-serif;
		text-align: left;
		line-height: 3;
	}
 	p {
		box-sizing: border-box;
		font-size: 18px;
		text-align: left;
		font-family:'MontserratRegular', sans-serif;
		line-height: 2;
	}
}

.work-structure_directions-opening {
	background: #f6dbcb;
	color: #363636;

}

.work-structure_directions-next {
	background: #787d6c; 
	color: #e5dccf;
}

.work-structure_directions-following {
	background: #9f745f;
	color:#e5dccf;
}