@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
body {
	font-family: 'Montserrat', sans-serif;
	background: #f5f0e8;
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

p {
	margin: 0;
}

.header {
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_info {
	width: 60%;
	box-sizing: border-box;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	font-size: 19px;
	color: #335141;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.header_left {
	font-size: 19px;
	color: #335141;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-left: 55px;
}

.wrapper {
	width: 80%;
}

.wrapper_full {
	width: 90%;
	margin-left: 10%;
}

.headline {
	font-size: 48px;
	color: #335141;
	text-align: left;
	margin-top: 95px;
	margin-bottom: 135px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.about_us {
	width: 100%;
}

.about_us_content {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.about_us_content_info {
	display: flex;
}

.about_us_text {
	flex: 1;
	text-align: left;
}

.about_us_text h1 {
	font-size: 16px;
	color: #335141;
	font-weight: 600;
	line-height: 3;
}

.about_us_text p {
	box-sizing: border-box;
	font-size: 16px;
	color:#828876;
	font-weight: 400;
	line-height: 2;
	padding-bottom: 10px;
}

.about_us_video {
	width: 70%;
}

.about_us_video iframe {
	width: 100%;
	margin-top: 25px;
	height: 600px;
}

.headline_second {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	margin-top: 140px;
}

.headline_second h1 {
	font-size: 48px;
	color: #335141;
	font-weight: 600;
	line-height: 2;
}

.headline_second p {
	box-sizing: border-box;
	font-size: 23px;
	color:#335141;
	font-weight: 600;
	padding-bottom: 10px;
	text-decoration: underline;
}

.lable {
	width: 100%;
	height: 725px;
	margin-top: 35px;
}

.job {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.job__item {
  height: 20vw;
  width: 25%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.job__cover {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	color: #ffffff;
	background: rgba(0,0,0,0.4);
	opacity: 0;
	font-size: 13px;
	font-weight: 600;
	line-height: 2;
	padding-left: 30px;
	padding-bottom: 20px; 
	width: 100%;
	height: 100%;
}

.job__cover:hover {
	opacity: 1;
	transition: 0.3s;
}
.job__cover p:last-child {
	color: #ffffff;
	font-weight: 400;
}

.job_text {
	color: #fffef9;
	font-size: 44px;
	font-weight: 600;
	line-height: 1.5;
	text-decoration: underline;
	padding-top: 25px;
	padding-left: 20px;
    box-sizing: border-box;
}

.completion {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #5b5744;
	padding-top: 100px;
	margin-top: 90px;
}

.completion_logo {
	display: flex;
}

.completion_block{
	width: 40%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 80px;
}

.completion_block_text {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}

.completion_text {
	display: flex;
	font-size: 16px;
	font-weight: 400;
	line-height: 2;
	color: #e5dccf;
	text-align: center;
	padding-bottom: 80px;
}

.logo {
	width: 100%;
	padding-bottom: 70px;
}
