@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
body {
	font-family: 'Montserrat', sans-serif;
	background: linear-gradient(to bottom, #f3ece2, #fffefe);
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

p {
	margin: 0;
}

.arrow {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	margin-bottom: 150px;
}

.arrow img {
	height: 120px;
	margin-right: -7%;
}

.block {
	width: 100%;
}

.block_content {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-end;
	margin-top: 110px;
	margin-bottom: 92px;
}

.block_info {
	display: flex;
}

.block_info_title {
	flex: 1;
	color: #335141;
	font-size: 5.5vw;
	font-weight: 600;
	padding-left: 50px;
}

.block_info_text {
	flex: 1;
	text-align: center;
    height: 30vw;
	width: 44vw;
}

.block_info_text_first {
    background: linear-gradient(to bottom, #f2ede5, #f3eee7);
    background-size: cover;
}

.block_info_text_second {
   background: linear-gradient(to bottom, #f4eee7, #f4f0ea);
   background-size: cover;
}

.block_info_text h1 {
	font-size: 22px;
	color: #335141;
	text-align: left;
	font-weight: 600;
	padding-left: 100px;
	padding-top: 50px;
}

.block_info_text p {
	box-sizing: border-box;
	font-size: 16px;
	color:#828876;
	text-align: left;
	font-weight: 400;
	line-height: 2;
	padding-left: 100px;
}

.block_text {
	display: flex;
}

.block_content_info {
	display: flex;
}

.block_info_part {
	flex: 1;
	color: #ede4dc;
	font-size: 5.5vw;
	font-weight: 600;
	text-align: center;
	padding-bottom: 30px;
}

.block_info_first {
	background: url(../img/photo_glasses.jpg) no-repeat center center;
	height: 30vw;
	width: 44vw;
	background-size: cover;
}

.block_info_second {
	background: url(../img/photo_library.jpg) no-repeat center center;
	background-size: cover;
	height: 30vw;
	width: 44vw;
	align-items: flex-end;
	justify-content: flex-end;
}

.completion {
	width: 100%;
}

.completion_block{
	width: 40%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 80px;
}

.completion_info {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #5b5744;
	padding-top: 100px;
}

.completion_logo {
	display: flex;
}

.completion_text {
	display: flex;
}

.completion_block_text {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}

.contact {
	width: 100%;
}

.contact_info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	background: #f3ece2;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 105px;
	margin-top: 250px;
}

.contact_line {
	width: 3%;
	padding-left: 85px;
}

.contact_text {
	font-size: 1.2vw;
	font-weight: 600;
	line-height: 3;
	color: #335141;
	padding-left: 20px;
	padding-bottom: 10px;
}

.contact_text  a {
	color: #335141;
}

.header {
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_info {
	width: 60%;
	box-sizing: border-box;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.header_left {
	font-size: 20px;
	color: #335141;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-left: 50px;
}

.header_right_info{
	font-size: 20px;
	color: #335141;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.headline {
	font-size: 80px;
	color: #335141;
	text-align: center;
	margin-top: 300px;
	margin-bottom: 80px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.job {
	width: 100%;
}

.job_content {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-end;
	margin-bottom: 115px;
	margin-top: 92px;
}

.job_content_info {
	display: flex;
}

.job_info {
	display: flex;
}

.job_info_first {
	background: url(../img/staff08.jpg) no-repeat center center;
	height: 30vw;
	width: 29.5vw;
	background-size: cover;
	align-items: flex-end;
	justify-content: flex-end;
}

.job_info_second {
	background: url(../img/staff09.jpg) no-repeat center center;
	height: 30vw;
	width: 29.5vw;
	background-size: cover;
	align-items: flex-end;
	justify-content: flex-end;
}

.job_info_third {
	background: url(../img/staff04.jpg) no-repeat center center;
	height: 30vw;
	width: 29.5vw;
	background-size: cover;
	align-items: flex-end;
	justify-content: flex-end;
}

.job_info_fourth	{
	background: url(../img/staff05.jpg) no-repeat center center;
	height: 30vw;
	width: 29.5vw;
	background-size: cover;
	align-items: flex-end;
	justify-content: flex-end;
}

.job_info_fifth {
	background: url(../img/staff06.jpg) no-repeat center center;
	height: 30vw;
	width: 29.5vw;
	background-size: cover;
	align-items: flex-end;
	justify-content: flex-end;
}
.job_info_hover {
	display: flex;
	background: url(../img/staff07.jpg) no-repeat center center;
	height: 30vw;
	width: 29.5vw;
	background-size: cover;
	align-items: flex-end;
	justify-content: flex-end;
	position: relative;
}

.job_info_line {
	width: 100%;
	position:absolute;
	opacity: 0;
	left: 0;
	top: auto;
	bottom: 0;
	height: 10px;
	background: #d26a35;
}

.job_info_hover:hover .job_info_line { opacity: 1; }

.job_office {
	flex: 1;
	color: #ffffff;
	font-size: 1vw;
	font-weight: 600;
	padding-left: 20px;
	padding-bottom: 10px;
	border: 18px solid;
    border-color: #000;
    background-color: #000;
    opacity: 0.4;
    box-sizing: border-box;
}

.job_office span {
	color: #ffffff;
	font-size: 0.7vw;
	font-weight: 400;
}

.lable {
	width: 100%;
	padding-bottom: 80px;
}

.logo {
	width: 15%;
}

.part {
	box-sizing: border-box;
	width: 100%;
	font-size: 45px;
	color: #e5dccf;
	font-weight: 600;
	padding-left: 10%;
}

.slogan {
	width: 100%;
	position: relative;
	margin-top: 48px;

}

.slogan_background {
	height: 100%;
	width: 100%;
	position: absolute;
	background: url(../img/VectorSmart.png) no-repeat center center;
	background-size: cover;
}

.slogan_content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.slogan_content_first {
	background: #f6dbcb;
}

.slogan_content_second{
	background: #787d6c;
}

.slogan_content_third {
	background: #9f745f;
}

.slogan_content_text {
	text-align: center;
	width: 700px;
}

.slogan_content_text h1 {
	font-weight: 600;
	font-size: 22px;
	color: #e5dccf;
	text-align: left;
}

.slogan_content_text p {
	box-sizing: border-box;
	font-size: 16px;
	color:#e5dccf;
	text-align: left;
	font-weight: 400;
	line-height: 2;
}

.slogan_num {
	text-align: center;
	width: 300px;
	color: #e5dccf;
	font-size: 259px;
	text-shadow: 20px 30px 15px rgba(0,0,0,0.1);
	font-weight: 700;
}

.slogan_text {
	width: 700px;
	text-align: center;
}

.slogan_text h1 {
	font-size: 22px;
	color: #363636;
	text-align: left;
	font-weight: 600;
}

.slogan_text p {
	box-sizing: border-box;
	font-size: 16px;
	color:#363636;
	text-align: left;
	font-weight: 400;
	line-height: 2;
}

.sponsor {
	width: 100%;
}

.sponsor_content {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 200px;
	padding-right: 100px;
	margin-bottom: 115px;
}

.text {
	font-size: 16px;
	font-weight: 400;
	line-height: 2;
	color: #e5dccf;
	text-align: center;
	padding-bottom: 80px;
}

.top {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-size: 16px;
	color: #335141;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.top-content {
	width: 100%;
}

.top_text_center {
	flex: 1;
	text-align: center;
	line-height: 2;
}

.top_text_left {
	flex: 1;
	text-align: left;
	line-height: 2;
}

.top_text_right {
	flex: 1;
	text-align: right;
	line-height: 2;
}

.wrapper {
	width: 80%;
}

.wrapper_full {
	width: 100%;
}
