body {
	min-height: 500px;
	background: url(../img/liverpoolquizbg.jpg) no-repeat center fixed black;
	margin: 0;
	padding: 0;
	background-size: cover;
}

html, body, p, a, button {
    font-family: 'Karla', sans-serif;
}

p {
	color: #fff;
	margin: 0;
}

a {
	text-decoration: none;
	-webkit-appearance: none; 
	-moz-appearance: none;
}
.header {
	background: #000;
	height: 60px;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	position: fixed;
}

.btn_time {
	color: #000;
	font-size: 16px;
	background: rgb(251, 244, 214);
	border: black 1px solid;
	width: 683px;
	padding: 3px 0;
	margin: 0 0 20px;
    text-align: center;
    border-radius: 6px;
    outline: none
}
.headline {
	font-size: 54px;
}

.logo {
	height: 35px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 0 0;
}

.index_content {
	width: 500px;
	margin: 5px 0;
}
.text_content {
	font-size: 24px;
	margin: 25px 0 30px;
	width: 540px;
	text-align: center;
}

.btn_start_claim {
	background: rgb(181, 7, 0);
	border: 2.5pt solid white;
	color: #fff;
	font-size: 30px;
	width: 820px;
	padding: 20px 0;
	border-radius: 10px;
	margin: 27px 0;
}

.btn_start_claim:hover {
	background: green;
	transform: scale(1.1);
}