 body {
 	background: #fff;
 }

.tell {
	color: #a6a6a6;
	font-size:14px;
}

.fistname {
    color: #363636;
	font-size: 11px;

}

.fistname span {
	color: #2761e3;
	font-size:11px;
}

.strip{
	background: #2761e3;
	height: 2px;
	width: 100px;
}

.last {
	color: #7d7d7d;
	font-size: 11px;
	border-bottom: 2px solid #a6a6a6; 
	width: 200px;
}

.each {
	color: #a6a6a6;
	font-size:12px;
}

.button_continue {
	background: #d91c1e;
	color: #fff;
	font-size:19px;
	width: 300px;
	padding: 20px;
	border-radius: 10px;
}

.line {
	background: #acacac;
	height: 3px;
	width: 800px;
}

.icon {
	color: #363636;
	font-size:10px;
}
