body {
	min-height: 500px;
	background: url(../img/liverpoolquizbg.jpg) no-repeat center fixed black;
	margin: 0;
	padding: 0;
	background-size: cover;
}

html, body, p, button {
    font-family: 'Karla', sans-serif;
}

p {
	color: #fff;
	margin: 0;
}

.header {
	background: #000;
	height: 60px;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	position: fixed;
}

.headline {
	font-size: 54px;
}

.logo {
	height: 35px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 95px 0 0;
}

.index_content {
	width: 300px;
	margin: 45px 0 20px;
}

.content_icon {
	width: 70px;
}
.text_content {
	font-size: 20px;
	margin: 25px 0 35px;
	width: 540px;
	text-align: center;
}

.btn_start_test {
	background: rgb(181, 7, 0);
	border: 2.5pt solid white;
	color: #fff;
	font-size: 30px;
	width: 820px;
	padding: 20px 0;
	border-radius: 10px;
}

.btn_start_test:hover {
	transform: scale(1.1);
}

.btn_start_test:focus {
	outline: none;
	background: rgb(181, 7, 0);
	opacity:.6;
	color: #fff;
}  
