body {
	background: #fff;
}

 .winner {
	color: #000000;
}

.Details {
	background:#feb727;
	color:#000000;
}

.win {
	color:#959595;
}

.This_game {
	color:#959595;
}

.Billing_Address {
	color:#363636;
}

.First_Name {
	background:#dfeaf6;
	color:#acacac;
}

.Credit {
	color:#363636;
}

.Entries {
	color:#acacac;
}

.line {
	background:#ebebeb;
	height: 5px;
}