body {
	background: #ffffff
}

.winner { 
	color:#000000;
}

.details {
	color: #000;
	background: #feb727;
}

.win {
	color: #959595;
}

.think {
	color:#542583;
}

.answer {
	background:#feb727; 
	color:000000;
}

.answer span {
	color:#542583;
}

.NBA {
	color:#000000;
}

.this_game {
	color:#959595;
}

.apple_pay {
	background:#ed1c24; 
	color:#ffffff;
}