*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-family: sans-serif;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
}

h1 {
  margin: 0;
  font-weight: normal;
}

h2 {
  margin: 0;
  font-weight: normal;
}

h3 {
  margin: 0;
  font-weight: normal;
}

h4 {
  margin: 0;
  font-weight: normal;
}

h5 {
  margin: 0;
  font-weight: normal;
}

h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/**
* Correct the size of svg images
*/
svg {
  height: inherit;
  width: inherit;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "MontserratBold";
  src: url("../../assets/fonts/Montserrat/MontserratBold/MontserratBold.otf") format("opentype"), url("../../assets/fonts/Montserrat/MontserratBold/MontserratBold.eot?") format("eot"), url("../../assets/fonts/Montserrat/MontserratBold/MontserratBold.woff") format("woff"), url("../../assets/fonts/Montserrat/MontserratBold/MontserratBold.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url("../../assets/fonts/Montserrat/MontserratSemiBold/MontserratSemiBold.otf") format("opentype"), url("../../assets/fonts/Montserrat/MontserratSemiBold/MontserratSemiBold.eot?") format("eot"), url("../../assets/fonts/Montserrat/MontserratSemiBold/MontserratSemiBold.woff") format("woff"), url("../../assets/fonts/Montserrat/MontserratSemiBold/MontserratSemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratRegular";
  src: url("../../assets/fonts/Montserrat/MontserratRegular/MontserratRegular.otf") format("opentype"), url("../../assets/fonts/Montserrat/MontserratRegular/MontserratRegular.eot?") format("eot"), url("../../assets/fonts/Montserrat/MontserratRegular/MontserratRegular.woff") format("woff"), url("../../assets/fonts/Montserrat/MontserratRegular/MontserratRegular.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratMedium";
  src: url("../../assets/fonts/Montserrat/MontserratMedium/MontserratMedium.otf") format("opentype"), url("../../assets/fonts/Montserrat/MontserratMedium/MontserratMedium.eot?") format("eot"), url("../../assets/fonts/Montserrat/MontserratMedium/MontserratMedium.woff") format("woff"), url("../../assets/fonts/Montserrat/MontserratMedium/MontserratMedium.ttf") format("truetype");
}
.button {
  cursor: pointer;
  outline: none;
  border: 0;
}

.button_theme_header {
  color: #fff;
  background: #000;
  border-radius: 2px;
  font-family: "MontserratRegular", sans-serif;
}
.button_theme_header:hover {
  background: #959595;
}

.button_theme_main {
  background: #ea413d;
  box-shadow: -3px 3px 14.4px 1.6px rgba(54, 54, 54, 0.16);
  font-family: "MontserratSemiBold", sans-serif;
  color: #fff;
  border-radius: 6px;
}
.button_theme_main:hover {
  background: #ea697a;
}

.button_theme_dark {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  box-shadow: -3px 3px 14.4px 1.6px rgba(54, 54, 54, 0.16);
  font-family: "MontserratSemiBold", sans-serif;
  color: #fff;
  border-radius: 6px;
}
.button_theme_dark p {
  font-size: 1.3vw;
}
.button_theme_dark img {
  margin-right: 0.7vw;
}
@media (max-width: 768px) {
  .button_theme_dark {
    width: 84.36vw;
    height: 16.92vw;
  }
  .button_theme_dark p {
    font-size: 5.2vw;
  }
  .button_theme_dark img {
    margin-right: 2vw;
  }
}

.header {
  display: flex;
  width: 100%;
  height: 3.66vw;
  padding: 0 11.7vw;
  background: #8DA5E5;
  font-family: "MontserratBold", sans-serif;
  font-size: 1.74vw;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header {
    padding: 0;
    height: 13.58vw;
    font-size: 5.48vw;
    justify-content: center;
  }
}

.header__button {
  height: 2.2vw;
  width: 4.38vw;
  font-size: 0.88vw;
}
@media (max-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__socials {
  display: flex;
}
@media (max-width: 768px) {
  .header__socials {
    display: none;
  }
}

.header__social {
  cursor: pointer;
  height: 1.9vw;
  width: 1.9vw;
}
.header__social:not(:first-of-type) {
  margin-left: 0.72vw;
}

.content-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.content-layout__main {
  width: 100%;
}

.index-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.index-block__header {
  margin-top: 2.48vw;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 1.6vw;
  color: #242424;
  text-align: center;
}
@media (max-width: 768px) {
  .index-block__header {
    margin-top: 7vw;
    font-size: 9vw;
    padding: 0 12px;
  }
}

.index-block__header_size_md {
  font-size: 1.7vw;
}
@media (max-width: 768px) {
  .index-block__header_size_md {
    font-size: 7.5vw;
    margin-top: 5vw;
  }
}

.index-block__image {
  margin-top: 2.64vw;
  background: url("../images/index_image.jpg");
  background-size: cover;
  width: 19.04vw;
  height: 20.2vw;
}
@media (max-width: 768px) {
  .index-block__image {
    margin-top: 7vw;
    width: 69vw;
    height: 73.68vw;
  }
}

.index-block__description {
  margin-top: 2.64vw;
  font-family: "MontserratMedium", sans-serif;
  font-size: 1.16vw;
  color: #242424;
  text-align: center;
}
@media (max-width: 768px) {
  .index-block__description {
    margin-top: 7.32vw;
    font-size: 4.42vw;
    padding: 0 9vw;
  }
}

.index-block__button {
  margin: 2.04vw 0 5vw;
  font-size: 1.16vw;
  width: 23.86vw;
  height: 4.4vw;
}
@media (max-width: 768px) {
  .index-block__button {
    margin: 7vw 0 8.8vw;
    font-size: 5.2vw;
    width: 84.36vw;
    height: 16.92vw;
  }
}

.index-block__footer {
  color: #ff0000;
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.16vw;
  text-align: center;
  margin-right: auto;
  margin-top: auto;
  border-bottom: 1.46vw solid #ff0000;
  padding: 1.02vw 0;
  width: 14.64vw;
  position: relative;
}
.index-block__footer::after {
  content: "";
  position: absolute;
  right: -2.2vw;
  width: 4.4vw;
  height: 1.66vw;
  background: #fff;
  transform: skew(70deg);
  bottom: -1.46vw;
}
@media (max-width: 768px) {
  .index-block__footer {
    display: none;
  }
}

.index-block__choose-prize {
  width: 23.86vw;
}
@media (max-width: 768px) {
  .index-block__choose-prize {
    width: 84.36vw;
  }
}

.index-block__status-bar {
  margin-top: 1.6vw;
  margin-bottom: 1.5vw;
}
@media (max-width: 768px) {
  .index-block__status-bar {
    margin-top: 3.5vw;
    margin-bottom: 4vw;
  }
}

.choose-prize__headline {
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.2vw;
  color: #959595;
  text-align: center;
  margin-bottom: 1.4vw;
}
@media (max-width: 768px) {
  .choose-prize__headline {
    font-size: 4vw;
    margin-bottom: 4vw;
  }
}

.choose-prize__image {
  background: url("../images/cash.jpg") center center;
  background-size: cover;
  width: 100%;
  height: 15.5vw;
}
@media (max-width: 768px) {
  .choose-prize__image {
    width: 84.36vw;
    height: 55vw;
  }
}

.choose-prize__helper {
  color: #00bff3;
  font-family: "MontserratRegular", sans-serif;
  font-size: 0.8vw;
  text-align: left;
  margin-top: 1.2vw;
  margin-bottom: 0.4vw;
}
@media (max-width: 768px) {
  .choose-prize__helper {
    font-size: 2.3vw;
    margin-top: 3.5vw;
    margin-bottom: 1.5vw;
  }
}

.choose-prize__select {
  color: #363636;
  font-family: "MontserratRegular", sans-serif;
  font-size: 1vw;
  width: 23.86vw;
  padding: 0.5vw 0;
  border-radius: 0.2vw;
}
@media (max-width: 768px) {
  .choose-prize__select {
    font-size: 3vw;
    width: 84.36vw;
    padding: 1.3vw 0;
    border-radius: 0.8vw;
  }
}

.choose-prize__description {
  width: 23.86vw;
  height: 4.5vw;
  border-radius: 0.2vw;
  border: 1px solid #ccc;
  margin-top: 0.4vw;
  padding-top: 0.4vw;
  padding-left: 0.4vw;
}
@media (max-width: 768px) {
  .choose-prize__description {
    width: 84.36vw;
    height: 12vw;
    border-radius: 0.8vw;
    margin-top: 1.5vw;
    padding-top: 2vw;
    padding-left: 1vw;
  }
}
.choose-prize__description ul {
  list-style-type: disc;
}
.choose-prize__description li {
  color: #363636;
  font-family: "MontserratMedium", sans-serif;
  font-size: 0.7vw;
  line-height: 1.7;
  list-style-position: inside;
}
.choose-prize__description p {
  font-size: 0.8vw;
  color: #2e4da7;
  text-align: center;
  padding: 0.5vw 0;
  font-family: "MontserratMedium", sans-serif;
}
@media (max-width: 768px) {
  .choose-prize__description li {
    font-size: 2.5vw;
  }
}

.choose-prize__description_theme-fond {
  background: #ebebeb;
  border: 1px solid #ebebeb;
  height: 5.8vw;
  margin-top: 1.2vw;
  margin-bottom: 1.5vw;
  width: 100%;
}
@media (max-width: 768px) {
  .choose-prize__description_theme-fond {
    width: 84.36vw;
    height: 21vw;
    border-radius: 0.8vw;
    margin-top: 1.5vw;
    margin-bottom: 5vw;
    padding-top: 2vw;
    padding-left: 0.4vw;
  }
  .choose-prize__description_theme-fond ul {
    padding-left: 2vw;
  }
  .choose-prize__description_theme-fond p {
    font-size: 2.7vw;
    padding: 1vw 0;
  }
}

.choose-prize__button {
  margin-top: 1.5vw;
  font-size: 1.16vw;
  width: 100%;
  height: 4.4vw;
}
@media (max-width: 768px) {
  .choose-prize__button {
    font-size: 5.2vw;
    width: 84.36vw;
    height: 16.92vw;
    margin-top: 4vw;
  }
}

.status-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-bar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbe0eb;
  color: #fff;
  font-size: 1vw;
  width: 1.8vw;
  padding: 0.3vw;
  font-family: "MontserratSemiBold", sans-serif;
  border-radius: 1vw;
  text-align: center;
}
@media (max-width: 768px) {
  .status-bar__item {
    width: 7.5vw;
    padding: 1.5vw;
    border-radius: 5vw;
    font-size: 4vw;
  }
}

.status-bar__line {
  background-color: #dbe0eb;
  margin: 0 0.3vw;
  width: 1vw;
  padding: 0.1vw;
}
@media (max-width: 768px) {
  .status-bar__line {
    width: 3vw;
    margin: 0 1vw;
    padding: 0.3vw;
  }
}

.status-bar__active {
  background-color: #8ea6e6;
}

.answer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.answer-block__header {
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 1.61vw;
  color: #242424;
  margin-top: 2.12vw;
}
@media (max-width: 768px) {
  .answer-block__header {
    font-size: 8vw;
    margin-top: 5.8vw;
  }
}

.answer-block__result-texts {
  display: flex;
  flex-direction: column;
  margin-top: 1.84vw;
}
@media (max-width: 768px) {
  .answer-block__result-texts {
    margin-top: 3.98vw;
  }
}

.answer-block__result {
  font-size: 1.16vw;
  font-family: "MontserratRegular", sans-serif;
  color: #959595;
  text-align: center;
}
.answer-block__result:not(:first-of-type) {
  margin-top: 0.66vw;
}
@media (max-width: 768px) {
  .answer-block__result {
    font-size: 4.42vw;
  }
  .answer-block__result:not(:first-of-type) {
    margin-top: 1.64vw;
  }
}

.answer-block__result-image {
  margin-top: 1.4vw;
  width: 22.68vw;
  height: 15.66vw;
  background-size: cover;
}
@media (max-width: 768px) {
  .answer-block__result-image {
    margin-top: 4.94vw;
    width: 78vw;
    height: 53.12vw;
  }
}

.answer-block__offer {
  font-family: "MontserratMedium", sans-serif;
  font-size: 1.61vw;
  color: #000;
  margin-top: 2.12vw;
  text-align: center;
}
@media (max-width: 768px) {
  .answer-block__offer {
    margin-top: 2.68vw;
    font-size: 7.16vw;
  }
}

.answer-block__offer-description {
  margin-top: 1.25vw;
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.16vw;
  color: #898989;
  width: 27vw;
  text-align: center;
}
@media (max-width: 768px) {
  .answer-block__offer-description {
    font-size: 4.42vw;
    margin-top: 3.24vw;
    width: 70vw;
  }
}

.answer-block__offer-price {
  margin-top: 1.25vw;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 1.02vw;
  color: #2e4da7;
}
@media (max-width: 768px) {
  .answer-block__offer-price {
    font-size: 3.12vw;
    margin-top: 3.24vw;
  }
}

.answer-block__button {
  margin: 1.54vw 0 3vw;
  font-size: 1.16vw;
  width: 23.86vw;
  height: 4.4vw;
}
@media (max-width: 768px) {
  .answer-block__button {
    margin: 7vw 0 8.8vw;
    font-size: 5.2vw;
    width: 84.36vw;
    height: 16.92vw;
  }
}

.shipping-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.shipping-block__suggestion {
  margin-top: 2.18vw;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 0.88vw;
  color: #6dcff6;
  align-self: end;
}
@media (max-width: 768px) {
  .shipping-block__suggestion {
    margin-top: 6.24vw;
    font-size: 2.48vw;
  }
}

.shipping-block__fields {
  display: flex;
  width: 100%;
  margin-top: 0.44vw;
}
@media (max-width: 768px) {
  .shipping-block__fields {
    margin-top: 1.56vw;
  }
}

.shipping-block__field {
  font-size: 0.72vw;
  padding: 0 0.28vw;
  height: 2.04vw;
  line-height: 2.04vw;
}
.shipping-block__field:not(:first-child) {
  margin-left: 0.72vw;
}
@media (max-width: 768px) {
  .shipping-block__field {
    font-size: 2.6vw;
    padding: 0 1.04vw;
    height: 7.8vw;
    line-height: 7.8vw;
  }
  .shipping-block__field:not(:first-child) {
    margin-left: 2.6vw;
  }
}

.shipping-block__headline {
  width: 67%;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 1.2vw;
  color: #000;
  text-align: center;
}
@media (max-width: 768px) {
  .shipping-block__headline {
    font-size: 4vw;
  }
}

.field {
  outline: 0;
  border: 0;
  flex: 1;
}

.field_theme_default {
  font-weight: 700;
  color: #111;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 2px;
}

.field_size_sm {
  flex: 0 auto;
  width: 25%;
  margin-right: 25%;
}

/*# sourceMappingURL=styles.css.map */
