.about-us-top {
	background: url(../images/about-us-top.jpg) no-repeat;
	background-size: contain;
	width: 100%;
	padding-top: 11vw;
}

.main {
	width: 100%;
}

.about-us-top__content {
	display: flex;
	align-items: flex-start;
}

.about-us-top__discription{
	flex: 1;
	text-align: center;
}

.about-us-top__discription h1 {
	font-family: 'ArchivoBold', sans-serif;
	font-size: 3.2vw;
	color: #363636;
}

.about-us-top__discription p {
	box-sizing: border-box;
	padding: 0 1.6vw;
	color: #898989;
	margin-top: 1.8vw;
	font-size: 0.85vw;
	line-height: 1.4;

}

.about-us-top__circli-1 {
	flex: 1;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.about-us-top__circli-1 img {
	width: 8.5vw;
	margin-right: 4.6vw;
	margin-top: 0.5vw;
}
.about-us-top__circli-2 {
	flex: 1;
}

.about-us-top__circli-2 img {
	width: 10.5vw;
	margin-left: 3vw;
	margin-top: 1.8vw;
}

.about-us-top__circli-3 {
	width: 23vw;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.about-us-top__circli-3 img {
	margin-right: 0.3vw;
	width: 13vw;
	position: relative;
	top: -3.5vw;
}

.about-us-top__circli-4 {
}

.about-us-top__circli-4 img {
	width: 17vw;
	margin: 1vw 0.7vw 0 0;
}


.about-us-top__video {
	width: 53vw;
}

.about-us-top__video iframe {
	width: 100%;
	margin-top: 0.7vw;
	height: 29.5vw;
}

.konoha {
	margin-top: 6vw; 
}

.konoha__header {
	background: url(../images/konoha.png) #f26522 no-repeat center center;
	height: 10.7vw;
	background-size: 100%;
}

.konoha__content {
	display: flex;
	margin-top: 6.3vw;
}

.konoha__content h3 {
	text-align: right;
	width: 33%;
	text-transform: uppercase;
	font-family: 'ArchivoSemiBold', sans-serif; 
	font-size: 2.2vw;
	letter-spacing: 0.3vw;
}

.konoha__description {
	width: 36vw;
	margin-left: 3.2vw;
	font-family: 'ArchivoRegular', sans-serif;
	font-size: 1vw;
	line-height: 1.6vw;
}

.konoha__description p {
	margin-bottom: 1.5vw;
}

.konoha__description p:last-child {
	color: #898989;
	margin-bottom: 0;
	margin-top: 3vw;
}