 body {
 	background: #fff;
 }

.choose {
	background: #53ffff;
	color: #363636;
	font-size:9px;
	width: 300px;
	padding: 5px;
}

.tell {
	color: #a6a6a6;
	font-size: 14px;
}

.billing {
	color: #363636;
	font-size:11px;
}

.use {
	color: #363636;
	font-size:8px;
}

.credit {
	color: #959595;
	font-size:9px;
}

.strip{
	background: #2761e3;
	height: 3px;
	width: 800px;
}

.expiry {
	color: #a6a6a6; 
	font-size:11px;
	border-bottom: 2px solid #a6a6a6; 
	width: 200px;
}

.cvv {
	color: #7d7d7d; 
	font-size:11px;
	border-bottom: 2px solid #a6a6a6; 
	width: 200px;
}

.preview {
	background: #fafafa;
	color: #363636;
	font-size:8px;
}

.productname {
	background: #fafafa;
	color:#363636;
	font-size:11px;
}

.sub {
	background:#fafafa; 
	color:#363636;
	font-size:8px;
}

.run {
	background:#fafafa; 
	color:#363636;
	font-size:8px;
    font-family: "Gotham Medium";
}

.free {
	background:#fafafa; 
	color:#d91c1e;
	font-size:8px;
	font-family: "Gotham Medium";
}

.line {
	background: #d3d3d3;
	height: 3px;
	width: 800px;
}

.money {
	background:#fafafa; 
	color:#363636;
	font-size:11px;
	font-family: "Gotham Medium";
}

.button_claim {
	background: #d91c1e;
	color: #fff;
	font-size:19px;
	width: 300px;
	padding: 20px;
	border-radius: 10px;
}

.stripline {
	background: #acacac;
	height: 3px;
	width: 800px;
}

.icon {
	color: #363636;
	font-size:10px;
}
