 body {
 	background: #fff;
 }

.whichclassic {
	color: #363636;
	font-size: 24px;
}

.find {
	color: #363636;
	font-size: 16px;
}

.andsee {
	color: #252525;
	font-size: 16px;
}

.free {
	background: #de4841;
	color:#ffff00;
	font-size: 16px;
	width: 300px;
}

.free span {
	background: #de4841;
	color:#fff;
	font-size: 16px;
	width: 300px;
}

.button_start {
	background: #d91c1e;
	color: #fff;
	font-size:19px;
	width: 300px;
	padding: 20px;
	border-radius: 10px;
}

.strip{
	background: #acacac;
	height: 3px;
	width: 800px;
}

.icon {
	color: #363636;
	font-size:10px;
}
